﻿@model WebApp.Models.OrderDetail
<!-- begin master section -->
<div class="row">
    <div class="col col-lg-12 col-md-12">
<!--begin orderdetail form  -->
<form id="orderdetail_form" class="smart-form" method="post" novalidate >
@Html.AntiForgeryToken()
  <input type="hidden" id="@Html.IdFor(model => model.Id)" 
                       name="@Html.NameFor(model => model.Id)" 
                       value="@Html.ValueFor(model => model.Id)" />
 <fieldset>
     <div class="row">
            <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.ProductId)</span> </label>
            <label class="input">
			      @Html.DropDownListFor(model => model.ProductId, ViewBag.ProductId as List<SelectListItem>, htmlAttributes: new { @class = "select2" }) 
                 <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.ProductId)</b>
			    </label>
            </section>
	 
	    
			<section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.Qty)</span> </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.Qty)"
				   name="@Html.NameFor(model => model.Qty)" 
                   placeholder="@Html.DisplayNameFor(model => model.Qty)" 
				   value="@Html.ValueFor(model => model.Qty)"
				   tabindex="1" required
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.Qty)</b>
			    </label>
            </section>
				 
	    
			<section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.Price)</span> </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.Price)"
				   name="@Html.NameFor(model => model.Price)" 
                   placeholder="@Html.DisplayNameFor(model => model.Price)" 
				   value="@Html.ValueFor(model => model.Price)"
				   tabindex="2" required
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.Price)</b>
			    </label>
            </section>
				 
	    
			<section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.Amount)</span> </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.Amount)"
				   name="@Html.NameFor(model => model.Amount)" 
                   placeholder="@Html.DisplayNameFor(model => model.Amount)" 
				   value="@Html.ValueFor(model => model.Amount)"
				   tabindex="3" required
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.Amount)</b>
			    </label>
            </section>
				 
	   </div>
	    
     <div class="row">
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.Remark) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.Remark)" 
				   name="@Html.NameFor(model => model.Remark)" 
                   placeholder="@Html.DisplayNameFor(model => model.Remark)" 
				   value="@Html.ValueFor(model => model.Remark)"
				   tabindex="4" 
				   type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.Remark)</b>
			    </label>
            </section>
				 
	    
            <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.OrderId)</span> </label>
            <label class="input">
			      @Html.DropDownListFor(model => model.OrderId, ViewBag.OrderId as List<SelectListItem>, htmlAttributes: new { @class = "select2" }) 
                 <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.OrderId)</b>
			    </label>
            </section>
	 
	    
   </div>
</fieldset>
</form>
<!-- end orderdetail form  -->
</div>
</div>
<!-- end master section -->
<!--========================================================================================-->

