@using WebApp.Extensions

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>| @ViewBag.Title</title>
    <!-- Fonts -->

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet">

    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/ionicons.css" rel="stylesheet" />

    <link href="~/js/easyui/themes/metro/easyui.css" rel="stylesheet" />
    <link href="~/css/jquery.filer.css" rel="stylesheet" />
    <link href="~/css/themes/jquery.filer-dragdropbox-theme.css" rel="stylesheet" />
    <!-- Mainly scripts -->
    <script src="~/js/easyui/jquery.min.js"></script>

    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/easyui/jquery.easyui.min.js"></script>
    <script src="~/js/easyui/plugins/jquery.edatagrid.js"></script>
    <script src="~/js/easyui/plugins/datagrid-filter.js"></script>
    <script src="~/js/easyui/locale/easyui-lang-zh_CN.js"></script>

    <script src="~/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/js/inspinia.js"></script>
    <script src="~/js/plugins/pace/pace.min.js"></script>



    <script src="~/Scripts/moment.js"></script>


    <script src="~/Scripts/uploadify/jquery.uploadify.js"></script>

    <script src="~/js/jquery-form2json.js"></script>
    <script src="~/Scripts/FileSaver.js"></script>
    <script>


        $.extend($.fn.datagrid.defaults.editors, {
            datebox: {
                init: function (container, options) {
                    var input = $('<input type="text">').appendTo(container);
                    input.datebox(options);
                    return input;
                },
                destroy: function (target) {
                    $(target).datebox('destroy');
                },
                getValue: function (target) {
                    return $(target).datebox('getValue');//获得旧值
                },
                setValue: function (target, value) {
                    //console.info(dateformatter(value));
                    $(target).datebox('setValue', dateformatter(value));//设置新值的日期格式
                },
                resize: function (target, width) {
                    $(target).datebox('resize', width);
                }
            }
        });


        function dateformatter(value, row, index) {

            if (value == typeof (undefined))
                return null;
            if (value == null)
                return null;
            else
                return moment(value).format('YYYY-MM-DD');
        }
        function datetimeformatter(value, row, index) {


            if (value == typeof (undefined))
                return null;
            if (value == null)
                return null;
            else
                return moment(value).format('YYYY-MM-DD HH:mm:ss');
        }


        jQuery.extend({
            dateNow: function () {
                //console.log(new Date());
                return moment(new Date()).format('YYYY-MM-DD');
            }
        });
    </script>

</head>
<body>

    <!-- Skin configuration box -->
    @Html.Partial("_SkinConfig")

    <!-- Wrapper-->
    <!-- PageClass give you ability to specify custom style for specific view based on action -->
    <div id="wrapper" class="@Html.PageClass()">

        <!-- Navigation -->
        @Html.Partial("_Navigation")
        @*@Html.Action("RenderMenus", "RoleMenus", null)*@

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">

            <!-- Top Navbar -->
            @Html.Partial("_TopNavbar")

            @Html.Partial("_QuickNavbar")

            <!-- Main view  -->
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>@ViewContext.RouteData.Values["controller"].ToString()<small> </small></h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer -->
            @Html.Partial("_Footer")

        </div>
        <!-- End page wrapper-->
        <!-- Right Sidebar -->
        @Html.Partial("_RightSidebar")

    </div>
    <!-- End wrapper-->
    <!-- Handler for local scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>
