
@model WebApp.Models.CodeItem


<div class="ibox-content">
 <!--输出form表单界面-->
 <table class="table table-bordered">
     <caption>
     </caption>
     <tr>
     	  
  <td class="control-label">   @Html.DisplayNameFor(model => model.Id)  </td>
	   <td> 
			   											<input  disabled  id="@Html.IdFor(model => model.Id)" name="@Html.NameFor(model => model.Id)" tabindex="0" style="width:100%" class="easyui-numberbox" type="text" data-options="prompt:'Id',label:'Id:',required:true ,precision:0" />
								  
	  
  <td class="control-label">   @Html.DisplayNameFor(model => model.Code)  </td>
	   <td> 
			   
											<input id="@Html.IdFor(model => model.Code)" 
							name="@Html.NameFor(model => model.Code)" 
							value="@Html.ValueFor(model => model.Code)"
							tabindex="1" 
							style="width:100%" 
							class="easyui-textbox" 
							type="text" 
							data-options="prompt:'值',
								 label:'值:',
								 required:true ,validType:'length[0,20]'" />
					             
			 
     <tr>
     	  
  <td class="control-label">   @Html.DisplayNameFor(model => model.Text)  </td>
	   <td> 
			   
											<input id="@Html.IdFor(model => model.Text)" 
							name="@Html.NameFor(model => model.Text)" 
							value="@Html.ValueFor(model => model.Text)"
							tabindex="2" 
							style="width:100%" 
							class="easyui-textbox" 
							type="text" 
							data-options="prompt:'显示',
								 label:'显示:',
								 required:true ,validType:'length[0,20]'" />
					             
			 
	  
  <td class="control-label">   @Html.DisplayNameFor(model => model.Description)  </td>
	   <td> 
			   
											<input id="@Html.IdFor(model => model.Description)" 
							name="@Html.NameFor(model => model.Description)" 
							value="@Html.ValueFor(model => model.Description)"
							tabindex="3" 
							style="width:100%" 
							class="easyui-textbox" 
							type="text" 
							data-options="prompt:'描述',
								 label:'描述:',
								 required:true ,validType:'length[0,50]'" />
					             
			 
     <tr>
     	  
  <td class="control-label">   @Html.DisplayNameFor(model => model.IsDisabled)  </td>
	   <td> 
			   
											<input id="@Html.IdFor(model => model.IsDisabled)"
							name="@Html.NameFor(model => model.IsDisabled)" 
							value="@Html.ValueFor(model => model.IsDisabled)"
							tabindex="4" 
							style="width:100%" 
							class="easyui-numberbox" 
							type="text" 
							 data-options="prompt:'是否禁用',
								 label:'是否禁用:',
								 required:true " />
					             
			 
	  
  <td class="control-label">   @Html.DisplayNameFor(model => model.BaseCodeId)  </td>
	   <td> 
			   
			<input id="@Html.IdFor(model => model.BaseCodeId)"
			       name="@Html.NameFor(model => model.BaseCodeId)"
				   value="@Html.ValueFor(model => model.BaseCodeId)"
				   class="easyui-combobox" data-options="
						prompt:'类型' ,
						label:'类型:' ,
						required:true ,
						valueField: 'Id',
						textField: 'CodeType' ,
						url: '/BaseCodes/GetBaseCodes' ,
						onSelect: function(item){
						//console.log(item);
				}">

				
     <tr>
     	  
  <td class="control-label">   @Html.DisplayNameFor(model => model.CreatedDate)  </td>
	   <td> 
			   
											<input id="@Html.IdFor(model => model.CreatedDate)" 
							name="@Html.NameFor(model => model.CreatedDate)" 
							tabindex="6" 
							style="width:100%" class="easyui-datebox" 
							type="text" 
							value="@Html.ValueFor(model => model.CreatedDate)"
							data-options="prompt:'CreatedDate',
								 label:'CreatedDate:',
								 required:false,
								 formatter:dateformatter" />
					             
			 
	  
  <td class="control-label">   @Html.DisplayNameFor(model => model.CreatedBy)  </td>
	   <td> 
			   
											<input id="@Html.IdFor(model => model.CreatedBy)" 
							name="@Html.NameFor(model => model.CreatedBy)" 
							value="@Html.ValueFor(model => model.CreatedBy)"
							tabindex="7" 
							style="width:100%" 
							class="easyui-textbox" 
							type="text" 
							data-options="prompt:'CreatedBy',
								 label:'CreatedBy:',
								 required:false " />
					             
			 
     <tr>
     	  
  <td class="control-label">   @Html.DisplayNameFor(model => model.LastModifiedDate)  </td>
	   <td> 
			   
											<input id="@Html.IdFor(model => model.LastModifiedDate)" 
							name="@Html.NameFor(model => model.LastModifiedDate)" 
							tabindex="8" 
							style="width:100%" class="easyui-datebox" 
							type="text" 
							value="@Html.ValueFor(model => model.LastModifiedDate)"
							data-options="prompt:'LastModifiedDate',
								 label:'LastModifiedDate:',
								 required:false,
								 formatter:dateformatter" />
					             
			 
	  
  <td class="control-label">   @Html.DisplayNameFor(model => model.LastModifiedBy)  </td>
	   <td> 
			   
											<input id="@Html.IdFor(model => model.LastModifiedBy)" 
							name="@Html.NameFor(model => model.LastModifiedBy)" 
							value="@Html.ValueFor(model => model.LastModifiedBy)"
							tabindex="9" 
							style="width:100%" 
							class="easyui-textbox" 
							type="text" 
							data-options="prompt:'LastModifiedBy',
								 label:'LastModifiedBy:',
								 required:false " />
					             
			 
	        @*<tfoot>
        <tr>
           
        <tr>
    </tfoot>*@
</table>
</div>


 