@model IEnumerable<WebApplication1.GRP_BS_TAG>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.TAG_TITLE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TAG_COLOR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COMP_NO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEP_NO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WHE_NO)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TAG_ID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TAG_TITLE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TAG_COLOR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COMP_NO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEP_NO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WHE_NO)
        </td>

    </tr>
}

</table>
