﻿






@model WebApp.Models.Order


 @*@Html.HiddenFor(model => model.Id)*@

 <!--输出form表单界面-->
 <table class="table table-bordered">
     <caption>
     </caption>
	    <tr>
      	   <td class="control-label">   @Html.DisplayNameFor(model => model.Id)  </td>
	   <td> 
						   			<input  disabled  id="@Html.IdFor(model => model.Id)" name="@Html.NameFor(model => model.Id)" tabindex="0" style="width:100%" class="easyui-numberbox" type="text" data-options="prompt:'Id',label:'Id:',required:true ,precision:0" />
			  
				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.Customer)  </td>
	   <td> 
			
			  			<input id="@Html.IdFor(model => model.Customer)" 
				   name="@Html.NameFor(model => model.Customer)" 
				   value="@Html.ValueFor(model => model.Customer)"
				   tabindex="1" 
				   style="width:100%" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'客户',
								 label:'客户:',
								 required:true ,validType:'length[0,20]'" />
			              
				   </td>
	   	   </tr>
	   	    <tr>
      	   <td class="control-label">   @Html.DisplayNameFor(model => model.ShippingAddress)  </td>
	   <td> 
			
			  			<input id="@Html.IdFor(model => model.ShippingAddress)" 
				   name="@Html.NameFor(model => model.ShippingAddress)" 
				   value="@Html.ValueFor(model => model.ShippingAddress)"
				   tabindex="2" 
				   style="width:100%" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'发货地址',
								 label:'发货地址:',
								 required:true ,validType:'length[0,50]'" />
			              
				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.OrderDate)  </td>
	   <td> 
			
			  			<input id="@Html.IdFor(model => model.OrderDate)" 
			       name="@Html.NameFor(model => model.OrderDate)" 
				   tabindex="3" 
				   style="width:100%" class="easyui-datebox" 
				   type="text" 
				   value="@Html.ValueFor(model => model.OrderDate)"
				   data-options="prompt:'订单日期',
								 label:'订单日期:',
								 required:true,
								 formatter:dateformatter" />
			              
				   </td>
	   	   </tr>
	   	        @*<tfoot>
        <tr>
           
        <tr>
    </tfoot>*@
</table>
  <!--输出form表单界面-->

<!--========================================================================================-->
     <!-- details tabs -->
    <div class="tabs-container">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
								<li class="active"><a data-toggle="tab" href="#tab-orderdetails"> OrderDetails</a></li>
								        
			 
   
		 </ul>
		 <!-- Tab panes -->
         <div class="tab-content">
		  		  <div id="tab-orderdetails" class="tab-pane active">

            <div class="panel-body">

                <div class="table-responsive">
				<table id="orderdetails_datagrid" class="easyui-datagrid" title="OrderDetails DataGrid" style="width:auto;height:400px"
                       data-options="
                            rownumbers:true,
                            iconCls: 'fa fa-list',
                            remoteFilter: false,
                            singleSelect: true,
                            toolbar: '#orderdetails_toolbar',
                            method: 'get',
                            onClickCell: orderdetails_onClickCell,
                            pagination: 'true'
                    " >
                    <thead>
                        <tr>
						@*<th data-options="field:'ck',checkbox:true"></th>*@
				        
														@*<th data-options="field:'Id',width:80"> Id </th>*@
											
														<th data-options="field:'ProductId',width:100,
												formatter:function(value,row){
													return row.ProductName;
												},
												editor:{
													type:'combobox',
													options:{
														valueField:'Id',
														textField:'Name',
														method:'get',
														url:'/Orders/GetProducts',
														required:true ,precision:0
														}
												}"> 产品 </th>

           
											
						
																<th data-options="field:'Qty',width:100,align:'right',editor:{type:'numberbox',options:{required:true ,precision:0} } ,sortable:true,resizable:true ">数量</th>
							
											
						
																<th data-options="field:'Price',width:100,align:'right',editor:{type:'numberbox',options:{required:true ,precision:2} } ,sortable:true,resizable:true ">单价</th>
							
											
						
																<th data-options="field:'Amount',width:100,align:'right',editor:{type:'numberbox',options:{required:true ,precision:2} } ,sortable:true,resizable:true ">金额</th>
							
											
											                           
                        </tr>
                    </thead>
                </table>

				<div id="orderdetails_toolbar" style="height:auto">
                    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-plus',plain:true" onclick="orderdetails_append()">新增</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="orderdetails_removeit()">删除</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="orderdetails_accept()">保持</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true" onclick="orderdetails_reject()">取消</a>
                   
                </div>

                </div>
            </div>

		  	</div>
	</div>
	</div>
<!--end details tabs -->
 

 <script type="text/javascript">
	
	    
	//==============$('#orderdetails_datagrid')=================// 
    var $orderdetailsdatagrid = $('#orderdetails_datagrid')
	var orderdetailseditIndex = undefined;
    function orderdetails_endEditing() {
        if ( orderdetailseditIndex == undefined) { return true }
        if ($orderdetailsdatagrid.datagrid('validateRow', orderdetailseditIndex)) {
			            var ed = $orderdetailsdatagrid.datagrid('getEditor', { index: orderdetailseditIndex, field: 'ProductId' });
            var ProductName = $(ed.target).combobox('getText');
            var ProductId = $(ed.target).combobox('getValue');
          
            $orderdetailsdatagrid.datagrid('getRows')[orderdetailseditIndex]['ProductName'] = ProductName;
            $orderdetailsdatagrid.datagrid('getRows')[orderdetailseditIndex]['ProductId'] = ProductId;
            
            
						$orderdetailsdatagrid.datagrid('endEdit', orderdetailseditIndex);
            orderdetailseditIndex = undefined;


            return true;
        } else {
            return false;
        }
    }
    function orderdetails_onClickCell(index, field) {
        if (orderdetailseditIndex != index) {
            if (orderdetails_endEditing()) {
                $orderdetailsdatagrid.datagrid('selectRow', index)
                        .datagrid('beginEdit', index);
                var ed = $orderdetailsdatagrid.datagrid('getEditor', { index: index, field: field });
                if (ed) {
                    ($(ed.target).data('textbox') ? $(ed.target).textbox('textbox') : $(ed.target)).focus();
                }
                orderdetailseditIndex  = index;
            } else {
                $orderdetailsdatagrid.datagrid('selectRow', orderdetailseditIndex);
            }
        }
    }
    function orderdetails_append() {
        if (orderdetails_endEditing()) {
            $orderdetailsdatagrid.datagrid('appendRow', { Status:0   });
            orderdetailseditIndex = $orderdetailsdatagrid.datagrid('getRows').length - 1;
            $orderdetailsdatagrid.datagrid('selectRow', orderdetailseditIndex )
                    .datagrid('beginEdit', orderdetailseditIndex);
        }
    }
    function orderdetails_removeit() {
        if (orderdetailseditIndex  == undefined) { return }
        $orderdetailsdatagrid.datagrid('cancelEdit', orderdetailseditIndex )
                .datagrid('deleteRow', orderdetailseditIndex );
        orderdetailseditIndex = undefined;
    }
   
    function orderdetails_reject() {
        $orderdetailsdatagrid.datagrid('rejectChanges');
        orderdetailseditIndex  = undefined;
    }
    function orderdetails_getChanges() {
        var rows = $orderdetailsdatagrid.datagrid('getChanges');
        alert(rows.length + ' rows are changed!');
    }


	  
	$(function () {
	
		$.get('/Orders/GetOrderDetailsByOrderId/' + @Model.Id,function(data){
            //console.log(data);
            $orderdetailsdatagrid.datagrid('loadData',data);
        
        })


	
	});
</script>



