﻿@model WebApp.Models.Order
<!-- 输出form表单界面 -->
<fieldset>
    <div class="row">
        <section class="col col-6">
            <label class="label">@Html.DisplayNameFor(model => model.Id) </label>
            <label class="input">
                <input id="@Html.IdFor(model => model.Id)"
                       name="@Html.NameFor(model => model.Id)"
                       value="@Html.ValueFor(model => model.Id)"
                       placeholder="@Html.DisplayNameFor(model => model.Id)"
                       tabindex="0"
                       readonly
                       type="text" />
            </label>
        </section>
        <section class="col col-6">
            <label class="label">@Html.DisplayNameFor(model => model.Customer) </label>
            <label class="input">
                <input id="@Html.IdFor(model => model.Customer)"
                       name="@Html.NameFor(model => model.Customer)"
                       value="@Html.ValueFor(model => model.Customer)"
                       placeholder="@Html.DisplayNameFor(model => model.Customer)"
                       tabindex="0"
                       type="text" />
                <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.Customer)</b>
            </label>
        </section>
        <section class="col col-6">
            <label class="label">@Html.DisplayNameFor(model => model.ShippingAddress) </label>
            <label class="input">
                <input id="@Html.IdFor(model => model.ShippingAddress)"
                       name="@Html.NameFor(model => model.ShippingAddress)"
                       value="@Html.ValueFor(model => model.ShippingAddress)"
                       placeholder="@Html.DisplayNameFor(model => model.ShippingAddress)"
                       tabindex="0"
                       type="text" />
                <b class="tooltip tooltip-bottom-right">Needed to enter the website</b>
            </label>
        </section>
        <section class="col col-6">
            <label class="label">@Html.DisplayNameFor(model => model.OrderDate) </label>
            <label class="input">
                <input id="@Html.IdFor(model => model.OrderDate)"
                       name="@Html.NameFor(model => model.OrderDate)"
                       value="@Html.ValueFor(model => model.OrderDate)"
                       placeholder="@Html.DisplayNameFor(model => model.OrderDate)"
                       tabindex="0"
                       type="text" />
            </label>
        </section>
        <section class="col col-6">
            <label class="label">@Html.DisplayNameFor(model => model.CreatedDate) </label>
            <label class="input">
                <input id="@Html.IdFor(model => model.CreatedDate)"
                       name="@Html.NameFor(model => model.CreatedDate)"
                       value="@Html.ValueFor(model => model.CreatedDate)"
                       placeholder="@Html.DisplayNameFor(model => model.CreatedDate)"
                       tabindex="0"
                       type="text" />
            </label>
        </section>
        <section class="col col-6">
            <label class="label">@Html.DisplayNameFor(model => model.CreatedBy) </label>
            <label class="input">
                <input id="@Html.IdFor(model => model.CreatedBy)"
                       name="@Html.NameFor(model => model.CreatedBy)"
                       value="@Html.ValueFor(model => model.CreatedBy)"
                       placeholder="@Html.DisplayNameFor(model => model.CreatedBy)"
                       tabindex="0"
                       type="text" />
               
            </label>
        </section>
        <section class="col col-6">
            <label class="label">@Html.DisplayNameFor(model => model.LastModifiedDate) </label>
            <label class="input">
                <input id="@Html.IdFor(model => model.LastModifiedDate)"
                       name="@Html.NameFor(model => model.LastModifiedDate)"
                       value="@Html.ValueFor(model => model.LastModifiedDate)"
                       placeholder="@Html.DisplayNameFor(model => model.LastModifiedDate)"
                       tabindex="0"
                       type="text" />
            </label>
        </section>
        <section class="col col-6">
            <label class="label">@Html.DisplayNameFor(model => model.LastModifiedBy) </label>
            <label class="input">
                <input id="@Html.IdFor(model => model.LastModifiedBy)"
                       name="@Html.NameFor(model => model.LastModifiedBy)"
                       value="@Html.ValueFor(model => model.LastModifiedBy)"
                       placeholder="@Html.DisplayNameFor(model => model.LastModifiedBy)"
                       tabindex="0"
                       type="text" />
            </label>
        </section>
    </div>
</fieldset>

<fieldset>
    <div class="row">
        <section class="col col-md-12 col-lg-12">
            <!-- details tabs -->
            <div class="tabs-container">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-orderdetails"> OrderDetails</a></li>

                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div id="tab-orderdetails" class="tab-pane active">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="orderdetails_datagrid" class="easyui-datagrid" style="width:auto;height:400px"
                                       data-options="
                            rownumbers:true,
                            iconCls: 'fa fa-list',
                            remoteFilter: false,
                            singleSelect: true,
                            toolbar: '#orderdetails_toolbar',
                            method: 'get',
                            onClickCell: orderdetails_onClickCell,
                            pagination: 'true'
                    ">
                                    <thead>
                                        <tr>
                                            @*<th data-options="field:'ck',checkbox:true"></th>*@
                                            @*<th data-options="field:'Id',width:80"> Id </th>*@
                                            <th data-options="field:'ProductId',width:100,
												formatter:function(value,row){
													return row.ProductName;
												},
												editor:{
													type:'combobox',
													options:{
														valueField:'Id',
														textField:'Name',
														method:'get',
														url:'/Orders/GetProducts',
														required:true ,precision:0
														}
												}">产品</th>
                                            <th data-options="field:'Qty',width:100,align:'right',editor:{type:'numberbox',options:{required:true ,precision:0} } ,sortable:true,resizable:true ">数量</th>
                                            <th data-options="field:'Price',width:100,align:'right',editor:{type:'numberbox',options:{required:true ,precision:2} } ,sortable:true,resizable:true ">单价</th>
                                            <th data-options="field:'Amount',width:100,align:'right',editor:{type:'numberbox',options:{required:true ,precision:2} } ,sortable:true,resizable:true ">金额</th>
                                        </tr>
                                    </thead>
                                </table>
                                <div id="orderdetails_toolbar" style="height:auto">
                                    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'fa fa-plus',plain:true" onclick="orderdetails_createitem()">新增</a>
                                    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'fa fa-trash-o',plain:true" onclick="orderdetails_removeitem()">删除</a>
                                    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'fa fa-floppy-o',plain:true" onclick="orderdetails_saveitem()">保存</a>
                                    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'fa fa-undo',plain:true" onclick="orderdetails_reject()">取消</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end details tabs -->
        </section>
    </div>
</fieldset>
<!-- 输出form表单界面 -->
