@model WebApp.Models.Order


@Html.HiddenFor(model => model.Id)

<div class="form-group">
    @Html.LabelFor(model => model.Customer, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Customer, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Customer, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ShippingAddress, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.ShippingAddress, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ShippingAddress, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.OrderDate, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.OrderDate, "Date")
        @Html.ValidationMessageFor(model => model.OrderDate, "", new { @class = "text-danger" })
    </div>
</div>


<div role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#tab-OrderDetails" aria-controls="tab-OrderDetails" role="tab" data-toggle="tab">OrderDetails</a></li>



    </ul>
    <!-- Tab panes -->
    <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="tab-OrderDetails">
            <div id="toolbar" class="btn-group">
                <button type="button" id="addorderdetailsbutton" class="btn btn-default">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>

                <button type="button" id="removeorderdetailsbutton" class="btn btn-default">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
            </div>
            <table id="orderdetails-table" data-search="true"
                   data-flat="false"
                   data-toolbar="#toolbar"
                   data-pagination="true"
                   data-show-refresh="true"
                   data-show-toggle="true"
                   data-show-columns="true">
                <thead>
                    <tr>
                        <th data-formatter="orderdetailsrowindexFormatter">#No</th>

                        <th data-field="ProductId">
                            ProductId
                        </th>

                        <th data-field="Qty">
                            Qty
                        </th>

                        <th data-field="Price">
                            Price
                        </th>

                        <th data-field="Amount">
                            Amount
                        </th>

                        <th data-field="OrderId">
                            OrderId
                        </th>
                        <th data-field="action" data-formatter="orderdetailsactionFormatter" data-events="actionEvents">Action</th>
                    </tr>
                </thead>
            </table>

        </div>


    </div>
</div>

<!-- Modal  OrderDetail-->
<div class="modal fade" id="orderdetailformModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">OrderDetail</h4>
            </div>
            <div class="modal-body" id="orderdetailformModal-body">
                @*@Html.Partial("_OrderDetailForm")*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" id="orderdetailconfirmbutton" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    var orderid = -1;
    var currentrowindex = -1;

    function deleteOrderDetail(id) {
        var url = '@Url.Action("DeleteOrderDetail")';
        bootbox.dialog({
            message: "Are you sure delete " + id,
            title: "Delete OrderDetail ",
            buttons: {
                Cancel: {
                    label: "Cancel",
                    className: "btn-default",
                    callback: function () {

                    }
                },
                OK: {
                    label: "OK",
                    className: "btn-success",
                    callback: function () {
                        $.post(url, { id: id }, function (data) {
                            $orderdetailstable.bootstrapTable('remove', { field: 'Id', values: [id] });
                            //console.log('remove' + row.Id);
                        });
                    }
                }
            }
        });
    }

    function orderdetailsrowindexFormatter(value, row, index) {
        return index + 1;
    }
    function orderdetailsactionFormatter(value, row, index) {
        return [
            '<a class="edit" id="orderdetailsedit" href="javascript:void(0)" title="Add">',
            '<i class="glyphicon glyphicon-edit"></i>',
            '</a>  ',
            ' <a class="remove" id="orderdetailsremove" href="javascript:void(0)" title="Remove">',
            '<i class="glyphicon glyphicon-remove"></i>',
            '</a>'
        ].join('');
    }


    window.actionEvents = {
        'click #orderdetailsedit': function (e, value, row, index) {
            currentrowindex = index;
            var url = "/OrdersEditOrderDetail"
            $.get(url + '/' + row.Id, function (data) {
                $('#orderdetailformModal-body').html(data);
                if (row.Id > 0) {
                    //var id = $('#Id');
                    //id.val(row.Id);
                    //var productid = $('#ProductId');
                    //productid.val(row.ProductId);
                    //var qty = $('#Qty');
                    //qty.val(row.Qty);
                    //var price = $('#Price');
                    //price.val(row.Price);
                    //var amount = $('#Amount');
                    //amount.val(row.Amount);
                    //var orderid = $('#OrderId');
                    //orderid.val(row.OrderId);
                } else {
                    var id = $('#Id');
                    id.val(row.Id);
                    var productid = $('#ProductId');
                    productid.val(row.ProductId);
                    var qty = $('#Qty');
                    qty.val(row.Qty);
                    var price = $('#Price');
                    price.val(row.Price);
                    var amount = $('#Amount');
                    amount.val(row.Amount);
                    var orderid = $('#OrderId');
                    orderid.val(row.OrderId);

                }
                $('#orderdetailformModal').modal('toggle');
            });
        },
        'click #orderdetailremove': function (e, value, row, index) {
            if (row.Id > 0) {
                deleteOrderDetail(row.Id);
            } else {
                $orderdetailstable.bootstrapTable('remove', {
                    field: '$index',
                    values: [index]
                });
            }
        }
    };


</script>
