

@model IEnumerable<WebApp.Models.Order>




@{
    ViewBag.Title = "Index";
}
<style type='text/css'>
    /*設定 數字靠右*/
    td:nth-child(2n){text-align: right;}
</style>

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Order
                <small>Index</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>  @Html.ActionLink("Home", "Index", "Home")
                </li>
                 
                <li class="active">
                    <i class="fa fa-file"></i> Orders
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
     <div class="row">
        <div class="col-lg-12">
            <div id="toolbar" class="btn-group">
                <button type="button" id="newordersbutton" class="btn btn-default">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>

                <button type="button" id="deleteordersbutton" class="btn btn-default">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
            </div>
 

        <table id="orders-table" data-search="true"
                   data-url="/Orders/PageList"
                   data-flat="false"
                   data-toolbar="#toolbar"
                   data-pagination="true"
                   data-show-refresh="true"
                   data-show-toggle="true"
                   data-show-columns="true"
                   data-single-select="true"
                   data-page-list="[5, 10, 20, 50, 100, 200]"
                   data-sort-name="Id"
                   data-side-pagination="server"
                   data-click-to-select="true">
                <thead>
                    <tr>
                         <th data-field="state" data-checkbox="true"></th>
                        <th data-field="Id" data-sortable="true" data-visible="false">
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
        <th data-field="Customer" data-sortable="true" >
             @Html.DisplayNameFor(model => model.Customer)
        </th>
        <th data-field="ShippingAddress" data-sortable="true" >
             @Html.DisplayNameFor(model => model.ShippingAddress)
        </th>
        <th data-field="OrderDate" data-sortable="true" >
             @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th data-field="action" data-formatter="actionFormatter" data-events="actionEvents">Action</th>
    </tr>
    </thead>
 

</table>

<br />
 
     </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        var $orderstable = $('#orders-table');
        var $deleteordersbutton = $('#deleteordersbutton');
        function actionFormatter(value, row, index) {
            return [
                '<a class="edit" href="javascript:void(0)" title="Add">',
                '<i class="glyphicon glyphicon-edit"></i>',
                '</a>  ',
                ' <a class="remove" href="javascript:void(0)" title="Remove">',
                '<i class="glyphicon glyphicon-remove"></i>',
                '</a>'
            ].join('');
        }
        window.actionEvents = {

            'click .edit': function (e, value, row, index) {
                 var url="/Orders/Edit/" + row.Id
                 $(location).attr('href', url);
            },
            
            'click .remove': function (e, value, row, index) {
                deleteOrders(row.Id);
                
                console.log(value, row, index);
           }
    
        }
        function deleteOrders(id) {
            var url = '@Url.Action("Delete")';   
            bootbox.dialog({
                message: "Are you sure delete " + id,
                title: "Delete Orders ",
                buttons: {
                    Cancel: {
                        label: "Cancel",
                        className: "btn-default",
                        callback: function () {
                           
                        }
                    },
                    OK: {
                        label: "OK",
                        className: "btn-success",
                        callback: function () {
                            $.post(url, { id: id }, function (data) {
                                $orderstable.bootstrapTable('remove', { field: 'Id', values: [id] });
                                //console.log('remove' + row.Id);
                            });
                        }
                    }

                }

            });
        }

        $(document).ready(function (e) {
            $deleteordersbutton.prop('disabled', true);
            $orderstable = $('#orders-table').bootstrapTable(
                {
                }
                );
            $orderstable.on('check.bs.table uncheck.bs.table check-all.bs.table uncheck-all.bs.table', function () {
                $deleteordersbutton.prop('disabled', !$orderstable.bootstrapTable('getSelections').length);
            });
             $('#newordersbutton').on('click', function () {

                $(location).attr('href', "/Orders/Create");
            });
            $('#deleteordersbutton').on('click', function () {
                var selected = $orderstable.bootstrapTable('getSelections');
                if (selected.length>0) {
                    deleteOrders(selected[0].Id);
                }
                 
            });
        });
    
     </script>
}

