@model IEnumerable<WebApp.Models.Order>
@{
    ViewBag.Title = "订单数据";
}
<!--begin datagrid-content -->
<div class="datagrid-content">
    <table id="orders_datagrid" class="easyui-datagrid" style="width:auto;height:auto"
           data-options="
				 rownumbers:true,
				 checkOnSelect:true,
				 selectOnCheck:true,
				 idField:'Id',
				 sortName:'Id',
				 sortOrder:'desc',
				 remoteFilter: true,
				 singleSelect: true,
				 toolbar: '#orders_toolbar',
				 url: '/Orders/GetData',
				 method: 'get',
				 onClickCell: onClickCell,
				 pagination: 'true'
				   ">
        <thead>
            <tr>
                @*<th data-options="field:'ck',checkbox:true"></th>*@
                <th data-options="field:'_operate1',width:100 ,sortable:false,resizable:true,formatter:showdetailsformatter ">操作</th>
                @*<th data-options="field:'Id',width:80 ,sortable:true,resizable:true ">@Html.DisplayNameFor(model => model.Id)</th>*@
                <th data-options="field:'Customer' ,width:140,editor:{type:'textbox',options:{prompt:'客户' ,required:true ,validType:'length[0,20]'  }  } ,sortable:true,resizable:true ">@Html.DisplayNameFor(model => model.Customer)</th>
                <th data-options="field:'ShippingAddress' ,width:140,editor:{type:'textbox',options:{prompt:'发货地址' ,required:true ,validType:'length[0,50]'  }  } ,sortable:true,resizable:true ">@Html.DisplayNameFor(model => model.ShippingAddress)</th>
                <th data-options="field:'OrderDate',width:160,align:'right',editor:{type:'datebox',options:{prompt:'订单日期' ,required:true    }  },sortable:true,resizable:true  ,formatter:dateformatter">@Html.DisplayNameFor(model => model.OrderDate)</th>
            </tr>
        </thead>
    </table>
    <div id="orders_toolbar" style="height:auto">
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-plus',plain:true" onclick="append()">新增</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="removeit()">删除</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="accept()">保存</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true" onclick="reject()">取消</a>
        <a href="javascript:void(0)" class="easyui-menubutton" data-options="menu:'#importmenu',iconCls:'icon-paperclip' " onclick="importexcel()">导入数据</a>
        <div id="importmenu" style="width:150px;">
            <div data-options="iconCls:'icon-cloud-upload'" onclick="importexcel()">导入数据</div>
            <div data-options="iconCls:'icon-download-alt'" onclick="downloadtemplate()">下载用于导入的模板</div>
        </div>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-download-alt',plain:true" onclick="exportexcel()">导出至Excel</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-refresh',plain:true" onclick="reload()">刷新</a>
    </div>
    <div id="detailswindow" hidden="hidden" class="easyui-window animated bounceInRight" title="明细数据" data-options="modal:true,closed:true,iconcls:'icon-menu'" style="width:960px;height:520px">
        <!--detail entity tabs -->
        <div id="detailtabs" class="easyui-tabs" style="width:auto;height:400px;">
            <!--OrderDetails tab   -->
            <div title="OrderDetails" id="orderdetails" style="padding:10px;">
                <table id="orderdetails_datagrid" class="easyui-datagrid" style="width:940px;height:auto"
                       data-options="
								rownumbers:true,
								remoteFilter: true,
								singleSelect: true,
								toolbar: '#orderdetails_toolbar',
								url: '/OrderDetails/GetData',
								method: 'get',
								onClickCell: orderdetails_onClickCell,
								pagination: 'true'
							">
                    <thead>
                        <tr>
                            @*<th data-options="field:'ck',checkbox:true"></th>*@
                            @*<th data-options="field:'Id',width:80"> Id </th>*@
                            <th data-options="field:'ProductId',width:100,
														formatter:function(value,row){
																return row.ProductName;
														},
														editor:{
																type:'combobox',
														options:{
																valueField:'Id',
																textField:'Name',
																method:'get',
																url:'/Orders/GetProducts',
																required:true
														}
													}">产品</th>
                            <th data-options="field:'Qty',width:100,align:'right',editor:{type:'numberbox',options:{required:true  ,precision:0 }} ,sortable:true,resizable:true ">数量</th>
                            <th data-options="field:'Price',width:100,align:'right',editor:{type:'numberbox',options:{required:true  ,precision:2 }} ,sortable:true,resizable:true ">单价</th>
                            <th data-options="field:'Amount',width:100,align:'right',editor:{type:'numberbox',options:{required:true  ,precision:2 }} ,sortable:true,resizable:true ">金额</th>
                            <th data-options="field:'OrderId',width:100,
														formatter:function(value,row){
																return row.OrderCustomer;
														},
														editor:{
																type:'combobox',
														options:{
																valueField:'Id',
																textField:'Customer',
																method:'get',
																url:'/Orders/GetOrders',
																required:true
														}
													}">订单</th>
                        </tr>
                    </thead>
                </table>
                <!-- orderdetails_toolbar -->
                <div id="orderdetails_toolbar" style="height:auto">
                    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-plus',plain:true" onclick="orderdetails_append()">新增</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="orderdetails_removeit()">删除</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="orderdetails_accept()">保存</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true" onclick="orderdetails_reject()">取消</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-paperclip',plain:true" onclick="importexcel()">EXCEL 导入</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-refresh',plain:true" onclick="orderdetails_reload()">刷新</a>
                </div>
            </div>
            <!--end OrderDetails tab   -->
        </div>
        <!--end detail entity tabs -->
    </div>
</div>
<!--end datagrid-content -->
<!-- file upload partial view -->
@Html.Partial("_ImportWindow", new ViewDataDictionary { { "EntityName", "Order" } })
<!-- end file upload partial view -->
@section Scripts {
    <script type="text/javascript">
        //下载Excel导入模板
        function downloadtemplate() {
            //TODO: 修改下载模板的路径
            var url = "/ExcelTemplate/Order.xlsx";
            $.fileDownload(url)
                .fail(function () { $.messager.alert("错误", "没有找到模板文件! {" + url + "}"); });
        }
        //打开Excel上传导入
        function importexcel() {
            $("#importwindow").window("open");
        }
        //执行Excel到处下载
        function exportexcel() {
            var filterRules = JSON.stringify($dg.datagrid("options").filterRules);
            //console.log(filterRules);
            $.messager.progress({ title: "正在执行导出！" });
            var formData = new FormData();
            formData.append("filterRules", filterRules);
            formData.append("sort", "Id");
            formData.append("order", "asc");
            $.postDownload("/Orders/ExportExcel", formData, function (fileName) {
                $.messager.progress("close");
                console.log(fileName);
            })
        }
        //datagrid 增删改查操作
        var $dg = $("#orders_datagrid");
        var editIndex = undefined;
        function reload() {
            if (endEditing()) {
                $dg.datagrid("reload");
            }
        }
        function endEditing() {
            if (editIndex == undefined) { return true }
            if ($dg.datagrid("validateRow", editIndex)) {
                $dg.datagrid("endEdit", editIndex);
                editIndex = undefined;
                return true;
            } else {
                return false;
            }
        }
        function onClickCell(index, field) {
            var _operates = ["_operate1", "_operate2", "_operate3", "ck"]
            if ($.inArray(field, _operates) >= 0) {
                return;
            }
            if (editIndex != index) {
                if (endEditing()) {
                    $dg.datagrid("selectRow", index)
                        .datagrid("beginEdit", index);
                    var ed = $dg.datagrid("getEditor", { index: index, field: field });
                    if (ed) {
                        ($(ed.target).data("textbox") ? $(ed.target).textbox("textbox") : $(ed.target)).focus();
                    }
                    editIndex = index;
                } else {
                    $dg.datagrid("selectRow", editIndex);
                }
            }
        }
        function append() {
            if (endEditing()) {
                //$dg.datagrid("appendRow", { Status: 0 });
                //editIndex = $dg.datagrid("getRows").length - 1;
                $dg.datagrid("insertRow", { index: 0, row: { Status: 0 } });
                editIndex = 0;
                $dg.datagrid("selectRow", editIndex)
                    .datagrid("beginEdit", editIndex);
            }
        }
        function removeit() {
            if (editIndex == undefined) { return }
            $dg.datagrid("cancelEdit", editIndex)
                .datagrid("deleteRow", editIndex);
            editIndex = undefined;
        }
        function accept() {
            if (endEditing()) {
                if ($dg.datagrid("getChanges").length) {
                    var inserted = $dg.datagrid("getChanges", "inserted");
                    var deleted = $dg.datagrid("getChanges", "deleted");
                    var updated = $dg.datagrid("getChanges", "updated");
                    var effectRow = new Object();
                    if (inserted.length) {
                        effectRow.inserted = inserted;
                    }
                    if (deleted.length) {
                        effectRow.deleted = deleted;
                    }
                    if (updated.length) {
                        effectRow.updated = updated;
                    }
                    //console.log(JSON.stringify(effectRow));
                    $.post("/Orders/SaveData", effectRow, function (response) {
                        //console.log(response);
                        if (response.Success) {
                            $.messager.alert("提示", "提交成功！");
                            $dg.datagrid("acceptChanges");
                            $dg.datagrid("reload");
                        }
                    }, "json").fail(function (response) {
                        //console.log(response);
                        $.messager.alert("错误", "提交错误了！", "error");
                        //$dg.datagrid("reload");
                    });
                }
                //$dg.datagrid("acceptChanges");
            }
        }
        function reject() {
            $dg.datagrid("rejectChanges");
            editIndex = undefined;
        }
        function getChanges() {
            var rows = $dg.datagrid("getChanges");
            alert(rows.length + " rows are changed!");
        }
        //datagrid 开启行赛选功能
        $(function () {
            $dg.datagrid("enableFilter", [
                {
                    field: "OrderDate",
                    type: "datebox",
                    options: {
                        onChange: function (value) {
                            if (value == "") {
                                $dg.datagrid("removeFilterRule", "OrderDate");
                            } else {
                                $dg.datagrid("addFilterRule", {
                                    field: "OrderDate",
                                    op: "equal",
                                    value: value
                                });
                            }
                            $dg.datagrid("doFilter");
                        }
                    }
                },
            ]);
        })
        //-----------------------------------------------------
        //datagrid onSelect
        //-----------------------------------------------------
        function showdetailsformatter(value, row, index) {
            return '<a onclick="showDetailsWindow(' + row.Id + ')" class="easyui-linkbutton" href="javascript:void(0)">查看明细</a>';
        }
        //弹出明细信息
        function showDetailsWindow(id) {
            //console.log(id);
            $('#detailswindow').window('open');
            filterByOrderId(id);
        }
        function filterByOrderId(orderid) {
            var value = orderid;
            $orderdetailsdg.datagrid("removeFilterRule", "OrderId");
            $orderdetailsdg.datagrid("addFilterRule", {
                field: "OrderId",
                op: "equal",
                value: value
            });
            $orderdetailsdg.datagrid("doFilter");
            console.log(orderid);
        }
        //-----------------------------------------------------------------------
        // details datagrid functions
        //-----------------------------------------------------------------------
        //--------------------------------------------------------------------
        // #orderdetails_datagrid functions
        //--------------------------------------------------------------------
        var $orderdetailsdg = $("#orderdetails_datagrid");
        var orderdetails_editIndex = undefined;
        function orderdetails_reload() {
            $orderdetailsdg.datagrid("reload");
        }
        function orderdetails_endEditing() {
            if (orderdetails_editIndex == undefined) { return true }
            if ($orderdetailsdg.datagrid("validateRow", orderdetails_editIndex)) {
                var ed = $orderdetailsdg.datagrid("getEditor", { index: orderdetails_editIndex, field: "OrderId" });
                var OrderCustomer = $(ed.target).combobox("getText");
                var OrderId = $(ed.target).combobox("getValue");
                $orderdetailsdg.datagrid("getRows")[orderdetails_editIndex]["OrderCustomer"] = OrderCustomer;
                $orderdetailsdg.datagrid("getRows")[orderdetails_editIndex]["OrderId"] = OrderId;
                var ed = $orderdetailsdg.datagrid("getEditor", { index: orderdetails_editIndex, field: "ProductId" });
                var ProductName = $(ed.target).combobox("getText");
                var ProductId = $(ed.target).combobox("getValue");
                $orderdetailsdg.datagrid("getRows")[orderdetails_editIndex]["ProductName"] = ProductName;
                $orderdetailsdg.datagrid("getRows")[orderdetails_editIndex]["ProductId"] = ProductId;
                $orderdetailsdg.datagrid("endEdit", orderdetails_editIndex);
                orderdetails_editIndex = undefined;
                return true;
            } else {
                return false;
            }
        }
        function orderdetails_onClickCell(index, field) {
            if (orderdetails_editIndex != index) {
                if (orderdetails_endEditing()) {
                    $orderdetailsdg.datagrid("selectRow", index)
                        .datagrid("beginEdit", index);
                    var ed = $orderdetailsdg.datagrid("getEditor", { index: index, field: field });
                    if (ed) {
                        ($(ed.target).data("textbox") ? $(ed.target).textbox("textbox") : $(ed.target)).focus();
                    }
                    orderdetails_editIndex = index;
                } else {
                    $orderdetailsdg.datagrid("selectRow", orderdetails_editIndex);
                }
            }
        }
        function orderdetails_append() {
            if (orderdetails_endEditing()) {
                var order = $dg.datagrid("getSelected");
                $orderdetailsdg.datagrid("appendRow", { OrderId: order.Id });
                orderdetailseditIndex = $orderdetailsdg.datagrid("getRows").length - 1;
                $orderdetailsdg.datagrid("selectRow", orderdetails_editIndex)
                    .datagrid("beginEdit", orderdetails_editIndex);
            }
        }
        function orderdetails_removeit() {
            if (orderdetails_editIndex == undefined) { return }
            $orderdetailsdg.datagrid("cancelEdit", orderdetails_editIndex)
                .datagrid("deleteRow", orderdetails_editIndex);
            orderdetailseditIndex = undefined;
        }
        function orderdetails_reject() {
            $orderdetailsdg.datagrid("rejectChanges");
            orderdetails_editIndex = undefined;
        }
        function orderdetails_getChanges() {
            var rows = $orderdetailsdg.datagrid("getChanges");
            $.messager.alert("提示",rows.length + " rows are changed!");
        }
        function orderdetails_accept() {
            if (orderdetails_endEditing()) {
                if ($orderdetailsdg.datagrid("getChanges").length) {
                    var inserted = $orderdetailsdg.datagrid("getChanges", "inserted");
                    var deleted = $orderdetailsdg.datagrid("getChanges", "deleted");
                    var updated = $orderdetailsdg.datagrid("getChanges", "updated");
                    var effectRow = new Object();
                    if (inserted.length) {
                        effectRow.inserted = inserted;
                    }
                    if (deleted.length) {
                        effectRow.deleted = deleted;
                    }
                    if (updated.length) {
                        effectRow.updated = updated;
                    }
                    //console.log(JSON.stringify(effectRow));
                    $.post("/OrderDetails/SaveData", effectRow, function (response) {
                        //console.log(response);
                        if (response.Success) {
                            $.messager.alert("提示", "提交成功！");
                            $orderdetailsdg.datagrid("acceptChanges");
                            $orderdetailsdg.datagrid("reload");
                        }
                    }, "json").fail(function (response) {
                        //console.log(response);
                        $.messager.alert("错误", "提交错误了！", "error");
                    });
                }
                //$orderdetailsdg.datagrid("acceptChanges");
            }
        }
        $(function () {
            $orderdetailsdg.datagrid("enableFilter", [
            ]);
            filterByOrderId(-1);
        })
    </script>
}
