﻿@model WebApp.Models.Employee
<!-- begin master section -->
<div class="row">
    <div class="col col-lg-12 col-md-12">
<!--begin employee form  -->
<form id="employee_form" class="smart-form" method="post" novalidate >
@Html.AntiForgeryToken()
  <input type="hidden" id="@Html.IdFor(model => model.Id)" 
                       name="@Html.NameFor(model => model.Id)" 
                       value="@Html.ValueFor(model => model.Id)" />
 <fieldset>
     <div class="row">
            <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.Name)</span> </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.Name)" 
				   name="@Html.NameFor(model => model.Name)" 
                   placeholder="@Html.DisplayNameFor(model => model.Name)" 
				   value="@Html.ValueFor(model => model.Name)"
				   tabindex="0" required
				   type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.Name)</b>
			    </label>
            </section>
				 
	    
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.Title) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.Title)" 
				   name="@Html.NameFor(model => model.Title)" 
                   placeholder="@Html.DisplayNameFor(model => model.Title)" 
				   value="@Html.ValueFor(model => model.Title)"
				   tabindex="1" 
				   type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.Title)</b>
			    </label>
            </section>
				 
	    
            <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.Sex)</span> </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.Sex)" 
				   name="@Html.NameFor(model => model.Sex)" 
                   placeholder="@Html.DisplayNameFor(model => model.Sex)" 
				   value="@Html.ValueFor(model => model.Sex)"
				   tabindex="2" required
				   type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.Sex)</b>
			    </label>
            </section>
				 
	    
			<section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.Age)</span> </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.Age)"
				   name="@Html.NameFor(model => model.Age)" 
                   placeholder="@Html.DisplayNameFor(model => model.Age)" 
				   value="@Html.ValueFor(model => model.Age)"
				   tabindex="3" required
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.Age)</b>
			    </label>
            </section>
				 
	   </div>
	    
     <div class="row">
            <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.Brithday)</span> </label>
            <label class="input">
            <i class="icon-append fa fa-calendar"></i>
			<input id="@Html.IdFor(model => model.Brithday)" 
			       name="@Html.NameFor(model => model.Brithday)" 
                   placeholder="@Html.DisplayNameFor(model => model.Brithday)" 
				   tabindex="4" required
				   class="datepicker" data-dateformat="mm/dd/yy"
				   type="text" 
				   value="@Html.ValueFor(model => model.Brithday)"
				    />
             <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.Brithday)</b>
			    </label>
            </section>
				 
	    
			<section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.IsDeleted)</span> </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.IsDeleted)"
				   name="@Html.NameFor(model => model.IsDeleted)" 
                   placeholder="@Html.DisplayNameFor(model => model.IsDeleted)" 
				   value="@Html.ValueFor(model => model.IsDeleted)"
				   tabindex="5" required
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.IsDeleted)</b>
			    </label>
            </section>
				 
	    
            <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.CompanyId)</span> </label>
            <label class="input">
			      @Html.DropDownListFor(model => model.CompanyId, ViewBag.CompanyId as List<SelectListItem>, htmlAttributes: new { @class = "select2" }) 
                 <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.CompanyId)</b>
			    </label>
            </section>
	 
	    
   </div>
</fieldset>
</form>
<!-- end employee form  -->
</div>
</div>
<!-- end master section -->
<!--========================================================================================-->

