﻿@model WebApp.Models.BaseCode




 <!-- 输出form表单界面 -->
 <table class="table table-bordered">
     <caption>
        @{
        //TODO: fix edit form commonent!
        }
        <div class="alert alert-warning no-margin fade in">
            <button class="close" data-dismiss="alert">
                ×
            </button>
            <i class="fa-fw fa fa-info"></i>
            A combined table effect with all classes mentioned above added to
        </div>
     </caption>
	    <tr>
      	   <td class="control-label">   @Html.DisplayNameFor(model => model.Id)  </td>
	   <td> 
						   			<input  disabled  id="@Html.IdFor(model => model.Id)" name="@Html.NameFor(model => model.Id)" tabindex="0" style="width:100%" class="easyui-numberbox" type="text" data-options="prompt:'Id',label:'',required:true ,precision:0" />
			  
				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.CodeType)  </td>
	   <td> 
			
			  			<input id="@Html.IdFor(model => model.CodeType)" 
				   name="@Html.NameFor(model => model.CodeType)" 
				   value="@Html.ValueFor(model => model.CodeType)"
				   tabindex="1" 
				   style="width:100%" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'代码名称',
								 label:'',
								 required:true ,validType:'length[0,20]'" />
			              
				   </td>
	   	   </tr>
	   	    <tr>
      	   <td class="control-label">   @Html.DisplayNameFor(model => model.Description)  </td>
	   <td> 
			
			  			<input id="@Html.IdFor(model => model.Description)" 
				   name="@Html.NameFor(model => model.Description)" 
				   value="@Html.ValueFor(model => model.Description)"
				   tabindex="2" 
				   style="width:100%" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'描述',
								 label:'',
								 required:true ,validType:'length[0,50]'" />
			              
				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.CreatedBy)  </td>
	   <td> 
			
			  			<input id="@Html.IdFor(model => model.CreatedBy)" 
				   name="@Html.NameFor(model => model.CreatedBy)" 
				   value="@Html.ValueFor(model => model.CreatedBy)"
				   tabindex="3" 
				   style="width:100%" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'CreatedBy',
								 label:'',
								 required:false " />
			              
				   </td>
	   	   </tr>
	   	    <tr>
      	   <td class="control-label">   @Html.DisplayNameFor(model => model.LastModifiedBy)  </td>
	   <td> 
			
			  			<input id="@Html.IdFor(model => model.LastModifiedBy)" 
				   name="@Html.NameFor(model => model.LastModifiedBy)" 
				   value="@Html.ValueFor(model => model.LastModifiedBy)"
				   tabindex="4" 
				   style="width:100%" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'LastModifiedBy',
								 label:'',
								 required:false " />
			              
				   </td>
	   	    		<td></td> <td></td>
		     </tr>
	    <tfoot>
        <tr>
           
        <tr>
    </tfoot>
</table>
  <!--输出form表单界面-->

<!--========================================================================================-->
  




