@model WebApp.Models.Product
<div id="productdlg" hidden="hidden" class="easyui-dialog"
     title="Product" style="padding:15px"
     data-options="
                iconCls: 'icon-more',
                modal:true,
                closed:true,
                cache: false,
                resizable:true,
                width:700,
                height:400,
                /*toolbar: [], 注解*/
                onOpen:function(){
                   $('#product_form').form('disableValidation');
                },
                buttons: [{
                    text:'确认',
                    iconCls:'icon-ok',
                    handler:function(){
                        confirm_productform();
                    }
                },{
                    text:'取消',
                    handler:function(){
                        $('#productdlg').dialog('close');
                    }
                }]
            ">
    <form id="product_form" class="bv-form" novalidate="novalidate">
        <fieldset>
          <div class="form-group">
            <div class="row">
	@Html.HiddenFor(model => model.Id)		
             
      <div class="col-sm-12 col-md-4">
						<input id="@Html.IdFor(model => model.Name)" 
							name="@Html.NameFor(model => model.Name)" 
							value="@Html.ValueFor(model => model.Name)"
							tabindex="1" 
			     			class="easyui-textbox" 
							type="text" 
                            required
							data-options="prompt:'@Html.DisplayNameFor(model => model.Name)',
                                 width:200,
								 label:'<span class=\'required\'>@Html.DisplayNameFor(model => model.Name)</span>' ,
								 required:true ,validType:'length[0,50]'" />
    </div>
             
      <div class="col-sm-12 col-md-4">
						<input id="@Html.IdFor(model => model.Unit)" 
							name="@Html.NameFor(model => model.Unit)" 
							value="@Html.ValueFor(model => model.Unit)"
							tabindex="2" 
			     			class="easyui-textbox" 
							type="text" 
                            
							data-options="prompt:'@Html.DisplayNameFor(model => model.Unit)',
                                 width:200,
								 label:'@Html.DisplayNameFor(model => model.Unit)' ,
								 required:false ,validType:'length[0,10]'" />
    </div>
             
      <div class="col-sm-12 col-md-4">
                        <input id="@Html.IdFor(model => model.UnitPrice)"
							name="@Html.NameFor(model => model.UnitPrice)" 
							value="@Html.ValueFor(model => model.UnitPrice)"
							tabindex="3" 
							class="easyui-numberbox" 
							type="text" 
                            required
							data-options="prompt:'@Html.DisplayNameFor(model => model.UnitPrice)',
								 width:200,
								 label:'<span class=\'required\'>@Html.DisplayNameFor(model => model.UnitPrice)</span>' ,
                                 precision:2,
								 required:true,
                                 validType:'decimal' 
                                 " />
    </div>
             
      <div class="col-sm-12 col-md-4">
						<input id="@Html.IdFor(model => model.StockQty)"
							name="@Html.NameFor(model => model.StockQty)" 
							value="@Html.ValueFor(model => model.StockQty)"
							tabindex="4" 
							class="easyui-numberbox" 
							type="text" 
                            required
							data-options="prompt:'@Html.DisplayNameFor(model => model.StockQty)',
								 width:200,
								 label:'<span class=\'required\'>@Html.DisplayNameFor(model => model.StockQty)</span>' ,
								 required:true,
                                 validType:'integer' 
                                 " />
    </div>
             
           
        <div class="col-sm-12 col-md-4">
                        <label class="control-label">&nbsp;</label>
                        <div class="col-md-12" style="padding-left:0px" >
                          <label class="checkbox-inline">
                            <input id="@Html.IdFor(model => model.IsRequiredQc)"
                                   name="@Html.NameFor(model => model.IsRequiredQc)"
                                   value="true" @(Model.IsRequiredQc ? "checked=\"checked\"" : "")
                                   data-unchecked-value="false"
                                   tabindex="5"
                                   class="checkbox style-0"
                                   type="checkbox" />
                            <span>@Html.DisplayNameFor(model => model.IsRequiredQc)</span>
                          </label>
                        </div>
        </div>
             
       <div class="col-sm-12 col-md-4">
						<input id="@Html.IdFor(model => model.ConfirmDateTime)" 
							name="@Html.NameFor(model => model.ConfirmDateTime)" 
							tabindex="6" 
							class="easyui-datebox" 
                            type="text"
							value="@Html.ValueFor(model => model.ConfirmDateTime)"
							data-options="prompt:'@Html.DisplayNameFor(model => model.ConfirmDateTime)',
                                 width:200,
								 label:'<span class=\'required\'>@Html.DisplayNameFor(model => model.ConfirmDateTime)</span>' ,
								 formatter:dateformatter,
                                 required:true " />
    </div>
             
       <div class="col-sm-12 col-md-4">
            <input type="hidden" id="CategoryName" name="CategoryName" value="">
			<input id="@Html.IdFor(model => model.CategoryId)"
			       name="@Html.NameFor(model => model.CategoryId)"
				   value="@Html.ValueFor(model => model.CategoryId)"
                   required
                   tabindex="7"
				   class="easyui-combobox" data-options="
						prompt:'@Html.DisplayNameFor(model => model.CategoryId)' ,
						label:'<span class=\'required\'>@Html.DisplayNameFor(model => model.CategoryId)</span>' ,
                        width:200,
						valueField: 'Id',
						textField: 'Name' ,
						url: '/Categories/GetCategoriesAsync' ,
						onSelect: function(item){
                            $('#CategoryName').val(item.Name);
				           },
                        ">
    </div>
             
  
           </div>
          </div>
        </fieldset>
    </form>
</div>
<script type="text/javascript">
     var form_state = 'Added';
     var current_index = -1;
     var product = {};
 
     function open_productdlg(index, row, state) {
         form_state = state;
         current_index = index;
         product = row;
         $('#productdlg').dialog('open');
         if (form_state === 'Added') {
             $('#productdlg').dialog('setTitle', '新增明细');
         } else {
             $('#productdlg').dialog('setTitle', '修改明细');
         }
         $('#product_form').form('load', product);
     }
     function confirm_productform() {
         $productform = $('#product_form');
         if ($productform.form('enableValidation').form('validate')) {
             product = $productform.serializeJSON();
             if (form_state === 'Added') {
                 $(document).trigger('product_form.add', [current_index, product])
             } else {
                 $(document).trigger('product_form.edit', [current_index, product])
             }
             $('#productdlg').dialog('close');
         }
     }
 </script>

 