@model WebApplication1.GRP_BS_TAG

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GRP_BS_TAG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TAG_TITLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TAG_TITLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TAG_COLOR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TAG_COLOR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COMP_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMP_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEP_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEP_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WHE_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WHE_NO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TAG_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
