﻿






@model WebApp.Models.Notification


 @*@Html.HiddenFor(model => model.Id)*@

 <!--输出form表单界面-->
 <table class="table table-bordered">
     <caption>
     </caption>
	    <tr>
      	   <td class="control-label">   @Html.DisplayNameFor(model => model.Id)  </td>
	   <td> 
						   			<input  disabled  id="@Html.IdFor(model => model.Id)" name="@Html.NameFor(model => model.Id)" tabindex="0" style="width:100%" class="easyui-numberbox" type="text" data-options="prompt:'Id',label:'Id:',required:true " />
			  
				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.Title)  </td>
	   <td> 
			
			  			<input id="@Html.IdFor(model => model.Title)" 
				   name="@Html.NameFor(model => model.Title)" 
				   value="@Html.ValueFor(model => model.Title)"
				   tabindex="1" 
				   style="width:100%" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'主题',
								 label:'主题:',
								 required:false ,validType:'length[0,50]'" />
			              
				   </td>
	   	   </tr>
	   	    <tr>
      	   <td class="control-label">   @Html.DisplayNameFor(model => model.Content)  </td>
	   <td> 
			
			  			<input id="@Html.IdFor(model => model.Content)" 
				   name="@Html.NameFor(model => model.Content)" 
				   value="@Html.ValueFor(model => model.Content)"
				   tabindex="2" 
				   style="width:100%" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'消息',
								 label:'消息:',
								 required:false ,validType:'length[0,255]'" />
			              
				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.Link)  </td>
	   <td> 
			
			  			<input id="@Html.IdFor(model => model.Link)" 
				   name="@Html.NameFor(model => model.Link)" 
				   value="@Html.ValueFor(model => model.Link)"
				   tabindex="3" 
				   style="width:100%" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'链接',
								 label:'链接:',
								 required:false ,validType:'length[0,255]'" />
			              
				   </td>
	   	   </tr>
	   	    <tr>
      	   <td class="control-label">   @Html.DisplayNameFor(model => model.Read)  </td>
	   <td> 
			
			  			<input id="@Html.IdFor(model => model.Read)"
				   name="@Html.NameFor(model => model.Read)" 
				   value="@Html.ValueFor(model => model.Read)"
				   tabindex="4" 
				   style="width:100%" 
				   class="easyui-numberbox" 
				   type="text" 
				   data-options="prompt:'已读',
								 label:'已读:',
								 required:true " />
			              
				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.From)  </td>
	   <td> 
			
			  			<input id="@Html.IdFor(model => model.From)" 
				   name="@Html.NameFor(model => model.From)" 
				   value="@Html.ValueFor(model => model.From)"
				   tabindex="5" 
				   style="width:100%" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'From',
								 label:'From:',
								 required:false " />
			              
				   </td>
	   	   </tr>
	   	    <tr>
      	   <td class="control-label">   @Html.DisplayNameFor(model => model.To)  </td>
	   <td> 
			
			  			<input id="@Html.IdFor(model => model.To)" 
				   name="@Html.NameFor(model => model.To)" 
				   value="@Html.ValueFor(model => model.To)"
				   tabindex="6" 
				   style="width:100%" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'To',
								 label:'To:',
								 required:false " />
			              
				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.Created)  </td>
	   <td> 
			
			  			<input id="@Html.IdFor(model => model.Created)" 
			       name="@Html.NameFor(model => model.Created)" 
				   tabindex="7" 
				   style="width:100%" class="easyui-datebox" 
				   type="text" 
				   value="@Html.ValueFor(model => model.Created)"
				   data-options="prompt:'Created',
								 label:'Created:',
								 required:true,
								 formatter:dateformatter" />
			              
				   </td>
	   	   </tr>
	   	    <tr>
      	   <td class="control-label">   @Html.DisplayNameFor(model => model.Creator)  </td>
	   <td> 
			
			  			<input id="@Html.IdFor(model => model.Creator)" 
				   name="@Html.NameFor(model => model.Creator)" 
				   value="@Html.ValueFor(model => model.Creator)"
				   tabindex="8" 
				   style="width:100%" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'Creator',
								 label:'Creator:',
								 required:false " />
			              
				   </td>
	   	    		<td></td> <td></td>
		     </tr>
	    @*<tfoot>
        <tr>
           
        <tr>
    </tfoot>*@
</table>
  <!--输出form表单界面-->

<!--========================================================================================-->
  

 

