﻿@model WebApp.Models.Department
<!-- begin master section -->
<div class="row">
    <div class="col col-lg-12 col-md-12">
<!--begin department form  -->
<form id="department_form" class="smart-form" method="post" novalidate >
@Html.AntiForgeryToken()
  <input type="hidden" id="@Html.IdFor(model => model.Id)" 
                       name="@Html.NameFor(model => model.Id)" 
                       value="@Html.ValueFor(model => model.Id)" />
 <fieldset>
     <div class="row">
			              <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.Name)</span> </label>
            <label class="label">
			 @Html.DisplayFor(model => model.Name)
            </label>
            </section>
			  		 
	    
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.Manager) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.Manager)
            </label>
            </section>
			  		 
	    
            <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.CompanyId)</span> </label>
            <label class="label">
			      @Html.DisplayFor(model => model.CompanyId)
			</label>
            </section>
			 
	    
   </div>
	    
</fieldset>
</form>
<!-- end department form  -->
</div>
</div>
<!-- end master section -->
<!--========================================================================================-->


