@model IEnumerable<WebApp.Models.Company>
@using WebApp.Extensions



@{
    ViewBag.Title = "Companies";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                <a>组织架构</a>
            </li>
            <li class="active">
                <strong>公司信息</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Companies Data</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="table_data_tables.html#">Config option 1</a>
                            </li>
                            <li>
                                <a href="table_data_tables.html#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <div class="table-responsive">


                        <table id="companies_datagrid" class="easyui-datagrid" title="Companies DataGrid" style="width:auto;height:auto"
                               data-options="
                 rownumbers:true,
                remoteFilter: true,
                singleSelect: true,
                toolbar: '#companies_toolbar',
                url: '/Companies/GetData',
                method: 'get',
                onClickCell: onClickCell,
                pagination: 'true'
                   ">
                            <thead>
                                <tr>
                                    @*<th data-options="field:'ck',checkbox:true"></th>*@
                                    <th data-options="field:'Id',width:80">@Html.DisplayNameFor(model => model.Id)</th>

                                    <th data-options="field:'Name',width:140,editor:{type:'textbox',options:{required:false} } ">@Html.DisplayNameFor(model => model.Name)</th>


                                    <th data-options="field:'Address',width:140,editor:{type:'textbox',options:{required:false} } ">@Html.DisplayNameFor(model => model.Address)</th>


                                    <th data-options="field:'City',width:140,editor:{type:'textbox',options:{required:false} } ">@Html.DisplayNameFor(model => model.City)</th>


                                    <th data-options="field:'Province',width:140,editor:{type:'textbox',options:{required:false} } ">@Html.DisplayNameFor(model => model.Province)</th>


                                    <th data-options="field:'RegisterDate',width:160,align:'right',editor:{type:'datetimebox',options:{}}">@Html.DisplayNameFor(model => model.RegisterDate)</th>


                                    <th data-options="field:'Employees',width:100,align:'right',editor:{type:'numberbox',options:{precision:2}}">@Html.DisplayNameFor(model => model.Employees)</th>


                                </tr>
                            </thead>


                        </table>
                        <div id="companies_toolbar" style="height:auto">
                            @if (Html.IsAuthorize("Create"))
                            {
                                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-plus',plain:true" onclick="append()">新增</a>
                            }
                            @if (Html.IsAuthorize("Delete"))
                            {
                            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="removeit()">删除</a>
                            }
                            @if (Html.IsAuthorize("Edit"))
                            {
                                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="accept()">保存</a>
                                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true" onclick="reject()">取消</a>
                            }
                            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-refresh',plain:true" onclick="reload()">刷新</a>
                            @if (Html.IsAuthorize("Import"))
                            {
                            }
                            @*<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="getChanges()">GetChanges</a>*@
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
    @section Scripts {
        <script type="text/javascript">
            var $dg = $('#companies_datagrid');
            var editIndex = undefined;
            function reload() {
                $dg.datagrid('reload');
            }
            function endEditing() {
                if (editIndex == undefined) { return true }
                if ($dg.datagrid('validateRow', editIndex)) {
                    $dg.datagrid('endEdit', editIndex);
                    editIndex = undefined;

                    return true;
                } else {
                    return false;
                }
            }
            function onClickCell(index, field) {

                if (editIndex != index) {
                    if (endEditing()) {
                        $dg.datagrid('selectRow', index)
                                .datagrid('beginEdit', index);
                        var ed = $dg.datagrid('getEditor', { index: index, field: field });
                        if (ed) {
                            ($(ed.target).data('textbox') ? $(ed.target).textbox('textbox') : $(ed.target)).focus();
                        }
                        editIndex = index;
                    } else {
                        $dg.datagrid('selectRow', editIndex);
                    }
                }
            }
            function append() {
                if (endEditing()) {
                    $dg.datagrid('appendRow', {});
                    editIndex = $dg.datagrid('getRows').length - 1;
                    $dg.datagrid('selectRow', editIndex)
                            .datagrid('beginEdit', editIndex);
                }
            }
            function removeit() {
                if (editIndex == undefined) { return }
                $dg.datagrid('cancelEdit', editIndex)
                        .datagrid('deleteRow', editIndex);
                editIndex = undefined;
            }
            function accept() {
                if (endEditing()) {
                    if ($dg.datagrid('getChanges').length) {
                        var inserted = $dg.datagrid('getChanges', "inserted");
                        var deleted = $dg.datagrid('getChanges', "deleted");
                        var updated = $dg.datagrid('getChanges', "updated");
                        var effectRow = new Object();
                        if (inserted.length) {
                            effectRow.inserted = inserted;
                        }
                        if (deleted.length) {
                            effectRow.deleted = deleted;
                        }
                        if (updated.length) {
                            effectRow.updated = updated;
                        }
                        console.log(JSON.stringify(effectRow));
                        $.post("/Companies/SaveData", effectRow, function (rsp) {
                            console.log(rsp);
                            if (rsp.Success) {
                                $.messager.alert("提示", "提交成功！");
                                $dg.datagrid('acceptChanges');
                            }
                        }, "JSON").error(function () {
                            $.messager.alert("错误", "提交错误了！", 'error');

                        });

                    }

                    $dg.datagrid('acceptChanges');
                }
            }
            function reject() {
                $dg.datagrid('rejectChanges');
                editIndex = undefined;
            }
            function getChanges() {
                var rows = $dg.datagrid('getChanges');
                alert(rows.length + ' rows are changed!');
            }


            $(function () {

                $dg.datagrid('enableFilter');
            })
        </script>
    }

