﻿@model WebApp.Models.Product
 <!-- 输出form表单界面 -->
 <div id="detailswindow" hidden="hidden" class="easyui-window" title="明细数据" data-options="modal:true,closed:true,iconcls:'icon-menu'" style="width:960px;height:520px">
    <form id="product_form" class="smart-form easyui-form" method="post" data-options="novalidate:true">
 <table class="table table-bordered">
     <caption>
         <!--form toolbar-->
                <div id="form_toolbar" style="height:auto" class="datagrid-toolbar">
                    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'fa fa-floppy-o',plain:true" onclick="saveitem()">保存</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'fa fa-undo',plain:true" onclick="cancelitem()">取消</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'fa fa-refresh',plain:true" onclick="refreshitem()">刷新</a>
                </div>
         <!--form toolbar-->
     </caption>
	    <tr>
      	   <td class="control-label">   @Html.DisplayNameFor(model => model.Id)  </td>
	   <td> 
			   			   			<input id="@Html.IdFor(model => model.Id)" 
                   name="@Html.NameFor(model => model.Id)" 
                   value="@Html.ValueFor(model => model.Id)"
                   tabindex="0"   
                   class="easyui-numberbox" type="text" 
                   data-options="prompt:'ID',
                                 readonly:true,
                                width:200,
                                 label:'',required:true ,precision:0" />
			  				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.CategoryId)  </td>
	   <td> 
			   			<input id="@Html.IdFor(model => model.CategoryId)"
			       name="@Html.NameFor(model => model.CategoryId)"
				   value="@Html.ValueFor(model => model.CategoryId)"
				   class="easyui-combobox" data-options="
						prompt:'产品类别' ,
						label:'' ,
                       width:200,
						required:true ,
						valueField: 'Id',
						textField: 'Name' ,
						url: '/Products/GetCategories' ,
						onSelect: function(item){
						//console.log(item);
				}">
				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.Name)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.Name)" 
				   name="@Html.NameFor(model => model.Name)" 
				   value="@Html.ValueFor(model => model.Name)"
				   tabindex="2" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'名称',
								 label:'',
                                width:200,
								 required:true ,validType:'length[0,50]'" />
			  				   </td>
	   	   </tr>
	   	    <tr>
      	   <td class="control-label">   @Html.DisplayNameFor(model => model.Unit)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.Unit)" 
				   name="@Html.NameFor(model => model.Unit)" 
				   value="@Html.ValueFor(model => model.Unit)"
				   tabindex="3" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'单位',
								 label:'',
                                width:200,
								 required:false ,validType:'length[0,10]'" />
			  				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.UnitPrice)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.UnitPrice)"
				   name="@Html.NameFor(model => model.UnitPrice)" 
				   value="@Html.ValueFor(model => model.UnitPrice)"
				   tabindex="4" 
				   class="easyui-numberbox" 
				   type="text" 
				   data-options="prompt:'单价',
								 label:'',
                                width:200,
								 required:true ,precision:2" />
              				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.StockQty)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.StockQty)"
				   name="@Html.NameFor(model => model.StockQty)" 
				   value="@Html.ValueFor(model => model.StockQty)"
				   tabindex="5" 
				   class="easyui-numberbox" 
				   type="text" 
				   data-options="prompt:'库存',
								 label:'',
                                width:200,
								 required:true ,precision:0" />
              				   </td>
	   	   </tr>
	   	    <tr>
      	   <td class="control-label">   @Html.DisplayNameFor(model => model.IsRequiredQc)  </td>
	   <td> 
			   			  			   <label class="checkbox">
                 <input id="@Html.IdFor(model => model.IsRequiredQc)"
                       name="@Html.NameFor(model => model.IsRequiredQc)"
                       value="true" @(Model.IsRequiredQc ? "checked=\"checked\"" : "")
                       tabindex="6"
                       type="checkbox" />
                <i></i>
            </label>
              				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.ConfirmDateTime)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.ConfirmDateTime)" 
			       name="@Html.NameFor(model => model.ConfirmDateTime)" 
				   tabindex="7" 
				   class="easyui-datebox" 
				   type="text" 
				   value="@Html.ValueFor(model => model.ConfirmDateTime)"
				   data-options="prompt:'确认日期',
								 label:'',
                                width:200,
								 required:true,
								 formatter:dateformatter" />
			  				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.CreatedDate)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.CreatedDate)" 
			       name="@Html.NameFor(model => model.CreatedDate)" 
				   tabindex="8" 
				   class="easyui-datebox" 
				   type="text" 
				   value="@Html.ValueFor(model => model.CreatedDate)"
				   data-options="prompt:'创建时间',
								 label:'',
                                width:200,
								 required:false,
								 formatter:dateformatter" />
			  				   </td>
	   	   </tr>
	   	    <tr>
      	   <td class="control-label">   @Html.DisplayNameFor(model => model.CreatedBy)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.CreatedBy)" 
				   name="@Html.NameFor(model => model.CreatedBy)" 
				   value="@Html.ValueFor(model => model.CreatedBy)"
				   tabindex="9" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'创建用户',
								 label:'',
                                width:200,
								 required:false ,validType:'length[0,20]'" />
			  				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.LastModifiedDate)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.LastModifiedDate)" 
			       name="@Html.NameFor(model => model.LastModifiedDate)" 
				   tabindex="10" 
				   class="easyui-datebox" 
				   type="text" 
				   value="@Html.ValueFor(model => model.LastModifiedDate)"
				   data-options="prompt:'最后更新时间',
								 label:'',
                                width:200,
								 required:false,
								 formatter:dateformatter" />
			  				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.LastModifiedBy)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.LastModifiedBy)" 
				   name="@Html.NameFor(model => model.LastModifiedBy)" 
				   value="@Html.ValueFor(model => model.LastModifiedBy)"
				   tabindex="11" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'最后更新用户',
								 label:'',
                                width:200,
								 required:false ,validType:'length[0,20]'" />
			  				   </td>
	   	   </tr>
	   	        <tfoot>
        <tr>
        <tr>
    </tfoot>
</table>
</form>
</div>
<!--输出form表单界面-->
<!--========================================================================================-->
 


<script>

    //save item
    function saveitem() {
        if ($('#product_form').form('enableValidation').form('validate')) {
            var item = $('#product_form').serializeJSON();

            $.post("/Products/Edit", item, function (response) {
                //console.log(response);						
                if (response.success) {
                    $.messager.alert("提示", "保存成功！");
                    $('#detailswindow').window('close');

                } else {
                    $.messager.alert("错误", "保存失败！" + response.err, "error");
                }
            }, "json").fail(function (response) {
                //console.log(response);						
                $.messager.alert("错误", "保存失败！", "error");
                //$dg.datagrid("reload");						
            });
        }
    }
    // cancel
    function cancelitem() {
        $('#detailswindow').window('close');
    }
    // reload
    function refreshitem() {
        $('#detailswindow').window('close');
    }

</script>


