﻿@model WebApp.Models.Product
 <!-- 输出form表单界面 -->
<fieldset>
    <div class="row">
        	    			<section class="col col-4">
           <label class="label">@Html.DisplayNameFor(model => model.Id) </label>
           <label class="input">
            <input id="@Html.IdFor(model => model.Id)" 
                   name="@Html.NameFor(model => model.Id)" 
                   placeholder="@Html.DisplayNameFor(model => model.Id)" 
                   value="@Html.ValueFor(model => model.Id)"
                   tabindex="0"   
                   type="text" 
                   />
                 <b class="tooltip tooltip-bottom-right">ID</b>
			    </label>
            </section>
              				 
	  
	    
	                     <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.CategoryId) </label>
            <label class="input">
			      @Html.DropDownListFor(model => model.CategoryId, ViewBag.CategoryId as List<SelectListItem>, htmlAttributes: new { @class = "select2" }) 
                 <b class="tooltip tooltip-bottom-right">产品类别</b>
			    </label>
            </section>
				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.Name) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.Name)" 
				   name="@Html.NameFor(model => model.Name)" 
                   placeholder="@Html.DisplayNameFor(model => model.Name)" 
				   value="@Html.ValueFor(model => model.Name)"
				   tabindex="2" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">名称</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.Unit) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.Unit)" 
				   name="@Html.NameFor(model => model.Unit)" 
                   placeholder="@Html.DisplayNameFor(model => model.Unit)" 
				   value="@Html.ValueFor(model => model.Unit)"
				   tabindex="3" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">单位</b>
			    </label>
            </section>
			  				 
	  
	    
	        			  			<section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.UnitPrice) </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.UnitPrice)"
				   name="@Html.NameFor(model => model.UnitPrice)" 
                   placeholder="@Html.DisplayNameFor(model => model.UnitPrice)" 
				   value="@Html.ValueFor(model => model.UnitPrice)"
				   tabindex="4" 
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">单价</b>
			    </label>
            </section>
              				 
	  
	    
	        			  			<section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.StockQty) </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.StockQty)"
				   name="@Html.NameFor(model => model.StockQty)" 
                   placeholder="@Html.DisplayNameFor(model => model.StockQty)" 
				   value="@Html.ValueFor(model => model.StockQty)"
				   tabindex="5" 
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">库存</b>
			    </label>
            </section>
              				 
	  
	    
	        			  			  <section class="col col-4">
              <label class="label">@Html.DisplayNameFor(model => model.IsRequiredQc) </label>
              <label class="checkbox">
                 <input id="@Html.IdFor(model => model.IsRequiredQc)"
                       name="@Html.NameFor(model => model.IsRequiredQc)"
                       value="true" @(Model.IsRequiredQc ? "checked=\"checked\"" : "")
                       tabindex="6"
                       type="checkbox" />
                <i></i>
                <b class="tooltip tooltip-bottom-right">是否需要QC</b>
            </label>
            </section>
              				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.ConfirmDateTime) </label>
            <label class="input">
            <i class="icon-append fa fa-calendar"></i>
			<input id="@Html.IdFor(model => model.ConfirmDateTime)" 
			       name="@Html.NameFor(model => model.ConfirmDateTime)" 
                   placeholder="@Html.DisplayNameFor(model => model.ConfirmDateTime)" 
				   tabindex="7" 
				   class="datepicker" data-dateformat="dd/mm/yy"
				   type="text" 
				   value="@Html.ValueFor(model => model.ConfirmDateTime)"
				    />
             <b class="tooltip tooltip-bottom-right">确认日期</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.CreatedDate) </label>
            <label class="input">
            <i class="icon-append fa fa-calendar"></i>
			<input id="@Html.IdFor(model => model.CreatedDate)" 
			       name="@Html.NameFor(model => model.CreatedDate)" 
                   placeholder="@Html.DisplayNameFor(model => model.CreatedDate)" 
				   tabindex="8" 
				   class="datepicker" data-dateformat="dd/mm/yy"
				   type="text" 
				   value="@Html.ValueFor(model => model.CreatedDate)"
				    />
             <b class="tooltip tooltip-bottom-right">创建时间</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.CreatedBy) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.CreatedBy)" 
				   name="@Html.NameFor(model => model.CreatedBy)" 
                   placeholder="@Html.DisplayNameFor(model => model.CreatedBy)" 
				   value="@Html.ValueFor(model => model.CreatedBy)"
				   tabindex="9" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">创建用户</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.LastModifiedDate) </label>
            <label class="input">
            <i class="icon-append fa fa-calendar"></i>
			<input id="@Html.IdFor(model => model.LastModifiedDate)" 
			       name="@Html.NameFor(model => model.LastModifiedDate)" 
                   placeholder="@Html.DisplayNameFor(model => model.LastModifiedDate)" 
				   tabindex="10" 
				   class="datepicker" data-dateformat="dd/mm/yy"
				   type="text" 
				   value="@Html.ValueFor(model => model.LastModifiedDate)"
				    />
             <b class="tooltip tooltip-bottom-right">最后更新时间</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.LastModifiedBy) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.LastModifiedBy)" 
				   name="@Html.NameFor(model => model.LastModifiedBy)" 
                   placeholder="@Html.DisplayNameFor(model => model.LastModifiedBy)" 
				   value="@Html.ValueFor(model => model.LastModifiedBy)"
				   tabindex="11" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">最后更新用户</b>
			    </label>
            </section>
			  				 
	  
	    
	    </div>
</fieldset>

<!--========================================================================================-->
 


 <script type="text/javascript">
   var id=@Model.Id;
   

      
  

 </script>

