



@model IEnumerable<WebApp.Models.Product>




@{
    ViewBag.Title = "产品信息";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                <a>组织架构</a>
            </li>
            <li class="active">
                <strong>公司信息</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>产品信息</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <!--
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="table_data_tables.html#">Config option 1</a>
                            </li>
                            <li>
                                <a href="table_data_tables.html#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                        -->
                    </div>
                </div>
                <div class="ibox-content">

                    <div class="table-responsive">


                        <table id="products_datagrid" class="easyui-datagrid" title="产品信息" style="width:auto;height:auto"
                               data-options="
                 rownumbers:true,
				 checkOnSelect:true,
                 selectOnCheck:true,
                 idField:'Id',
                 sortName:'Id',
                 sortOrder:'desc',
                remoteFilter: true,
                singleSelect: true,
                toolbar: '#products_toolbar',
                url: '/Products/GetData',
                method: 'get',
                onClickCell: onClickCell,
				onSelect:onSelect,
                pagination: 'true'
                   ">
                            <thead>
                                <tr>
                                    @*<th data-options="field:'ck',checkbox:true"></th>*@
                                    <th data-options="field:'Id',width:80 ,sortable:true,resizable:true ">@Html.DisplayNameFor(model => model.Id)</th>

                                    <th data-options="field:'Name',width:140,editor:{type:'textbox',options:{required:true} } ,sortable:true,resizable:true ">@Html.DisplayNameFor(model => model.Name)</th>


                                    <th data-options="field:'Unit',width:140,editor:{type:'textbox',options:{required:false} } ,sortable:true,resizable:true ">@Html.DisplayNameFor(model => model.Unit)</th>


                                    <th data-options="field:'UnitPrice',width:100,align:'right',editor:{type:'numberbox',options:{precision:0,required:true}} ,sortable:true,resizable:true ">@Html.DisplayNameFor(model => model.UnitPrice)</th>


                                    <th data-options="field:'StockQty',width:100,align:'right',editor:{type:'numberbox',options:{precision:0,required:false}} ,sortable:true,resizable:true ">@Html.DisplayNameFor(model => model.StockQty)</th>


                                    <th data-options="field:'ConfirmDateTime',width:160,align:'right',editor:{type:'datebox',options:{required:false}},sortable:true,resizable:true  ,formatter:dateformatter">@Html.DisplayNameFor(model => model.ConfirmDateTime)</th>

                                    <th data-options="field:'CategoryId',width:100,sortable:true,resizable:true,
                        formatter:function(value,row){
                            return row.CategoryName;
                        },
                        editor:{
                            type:'combobox',
                            options:{
                                valueField:'Id',
                                textField:'Name',
                                method:'get',
                                url:'/Products/GetCategories',
                                required:true
                            }
                        }">@Html.DisplayNameFor(model => model.CategoryId)</th>



                    </tr>
                </thead>
            </table>
            <div id="products_toolbar" style="height:auto">
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-plus',plain:true" onclick="append()">新增</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="removeit()">删除</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="accept()">保存</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true" onclick="reject()">取消</a>
                @*<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="getChanges()">GetChanges</a>*@
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-paperclip',plain:true" onclick="importexcel()">Excel 导入</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-download-alt',plain:true" onclick="exportexcel()">导出 Excel</a>
            </div>
        </div>

        <!-- end ibox-content -->
    </div>
</div>
</div>
</div>
    </div>
<div id="importwindow" class="easyui-window" title="Excel 导入" data-options="modal:true,collapsible:false,minimizable:false,maximizable:false,closed:true,iconCls:'icon-paperclip'" style="width:500px;height:260px;padding:10px;">

    <p><input type="file" name="file_upload" id="file_upload" /></p>
    <div id="alert1" class="alert alert-success">
        <button class="close" data-dismiss="alert" type="button">&times;</button>上传成功，开始执行导入。

    </div>
    <div id="alert2" class="alert alert-info">
        <button class="close" data-dismiss="alert" type="button">&times;</button>正在执行导入程序，请耐心等待。

    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        $(function () {
            $('#alert1').hide('normal');
            $('#alert2').hide('normal');
            $("#file_upload").uploadify({
                'height': 30,
                'fileTypeDesc': 'Excel 2010 Files',
                'fileTypeExts': '*.xlsx',
                'swf': '/scripts/uploadify/uploadify.swf',
                'uploader': '/FileUpload/Upload',
                'buttonText': '选择EXCEL',
                'uploadLimit': 1,
                'displayData': 'speed',
                'formData': { 'modelType': 'Product' },
                'width': 120,
                'successTimeout': 100000,
                'onUploadComplete': function (file) {
                    $('#alert1').hide('normal');
                    $('#alert2').show('normal');
                },
                'onFallback': function () {
                    $.messager.progress('close');
                    $.messager.alert('导入错误', '导入错误，请重试！<br>', 'error');
                    $('#file_upload').uploadify('cancel')
                },
                'onUploadStart': function () {
                    $.messager.progress({ title: '正在处理请耐心等待！' });
                    $('#alert1').show('normal');
                    $('#alert2').hide('normal');
                },
                'onUploadError': function (file, errorCode, errorMsg, errorString) {
                    $.messager.progress('close');
                    $.messager.alert('导入错误', '导入错误，请修改后再倒入！<br>' + errorMsg, 'error');
                    $('#file_upload').uploadify('cancel')
                },
                'onUploadSuccess': function (file, data, response) {
                    $.messager.progress('close');
                    //console.log(file, data, response);
                    $('#alert1').hide('normal');
                    $('#alert2').hide('normal');
                    $('#w').window('close');
                    var data = $.parseJSON(data);
                    console.log(data);
                    if (data.success == "false") {
                        $.messager.alert('导入错误', '导入错误，请修改后再倒入！<br>' + data.message, 'error');
                    } else {
                        $.messager.alert('导入完成', '导入完成！<br>', 'info');
                        $dg.datagrid('reload');
                    }
                    //alert('The file ' + file.name + ' was successfully uploaded with a response of ' + response + ':' + data);

                }
            });

        })

        function importexcel() {
            $('#importwindow').window('open');
        }
        function exportexcel() {
            var filterRules = JSON.stringify($dg.datagrid('options').filterRules);
            //console.log(filterRules);
            $.messager.progress({ title: '正在执行导出！' });
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/Products/ExportExcel', true);
            xhr.responseType = 'blob';
            xhr.overrideMimeType("application/vnd.ms-excel");
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    $.messager.progress('close');
                    //console.log(xhr.getResponseHeader('Content-Disposition'));
                    var header = xhr.getResponseHeader('Content-Disposition');
                    var fileName = '';
                    if (header) {
                        var regx = /filename[^;=\n]*=((['\"]).*?\2|[^;\n]*)/g;
                        fileName = regx.exec(header)[1];
                        //console.log(regx.exec(header));
                    }
                    var blob = xhr.response;
                    saveAs(blob, fileName);
                }
            };
            xhr.onload = function (e) {
                //console.log(e);
            };
            var formData = new FormData();
            formData.append('filterRules', filterRules);
            formData.append('sort', 'Id');
            formData.append('order', 'asc');
            xhr.send(formData);
        }

        var $dg = $('#products_datagrid');
        var editIndex = undefined;
        function endEditing() {
            if (editIndex == undefined) { return true }
            if ($dg.datagrid('validateRow', editIndex)) {

                var ed = $dg.datagrid('getEditor', { index: editIndex, field: 'CategoryId' });
                var categoryname = $(ed.target).combobox('getText');
                var categoryid = $(ed.target).combobox('getValue');

                $dg.datagrid('getRows')[editIndex]['CategoryName'] = categoryname;
                $dg.datagrid('getRows')[editIndex]['CategoryId'] = categoryid;


                $dg.datagrid('endEdit', editIndex);
                editIndex = undefined;


                return true;
            } else {
                return false;
            }
        }
        function onClickCell(index, field) {
            var _operates = ["_operate1", "_operate2", "_operate3", "ck"]
            if ($.inArray(field, _operates) >= 0) {
                return;
            }
            if (editIndex != index) {
                if (endEditing()) {
                    $dg.datagrid('selectRow', index)
                            .datagrid('beginEdit', index);
                    var ed = $dg.datagrid('getEditor', { index: index, field: field });
                    if (ed) {
                        ($(ed.target).data('textbox') ? $(ed.target).textbox('textbox') : $(ed.target)).focus();
                    }
                    editIndex = index;
                } else {
                    $dg.datagrid('selectRow', editIndex);
                }
            }
        }
        function append() {
            if (endEditing()) {
                //$dg.datagrid('appendRow', { Status: 0 });
                //editIndex = $dg.datagrid('getRows').length - 1;
                $dg.datagrid('insertRow', { index: 0, row: { Status: 0 } });
                editIndex = 0;
                $dg.datagrid('selectRow', editIndex)
                        .datagrid('beginEdit', editIndex);
            }
        }
        function removeit() {
            if (editIndex == undefined) { return }
            $dg.datagrid('cancelEdit', editIndex)
                    .datagrid('deleteRow', editIndex);
            editIndex = undefined;
        }
        function accept() {
            if (endEditing()) {
                if ($dg.datagrid('getChanges').length) {
                    var inserted = $dg.datagrid('getChanges', "inserted");
                    var deleted = $dg.datagrid('getChanges', "deleted");
                    var updated = $dg.datagrid('getChanges', "updated");
                    var effectRow = new Object();
                    if (inserted.length) {
                        effectRow.inserted = inserted;
                    }
                    if (deleted.length) {
                        effectRow.deleted = deleted;
                    }
                    if (updated.length) {
                        effectRow.updated = updated;
                    }
                    //console.log(JSON.stringify(effectRow));
                    $.post("/Products/SaveData", effectRow, function (response) {
                        //console.log(response);
                        if (response.Success) {
                            $.messager.alert("提示", "提交成功！");
                            $dg.datagrid('acceptChanges');
                            $dg.datagrid('reload');
                        }
                    }, "JSON").error(function (response) {
                        //console.log(response);
                        $.messager.alert("错误", "提交错误了！", 'error');
                        //$dg.datagrid('reload');
                    });

                }

                //$dg.datagrid('acceptChanges');
            }
        }
        function reject() {
            $dg.datagrid('rejectChanges');
            editIndex = undefined;
        }
        function getChanges() {
            var rows = $dg.datagrid('getChanges');
            alert(rows.length + ' rows are changed!');
        }


        $(function () {

            $dg.datagrid('enableFilter', [

                         {
                             field: 'ConfirmDateTime',
                             type: 'datebox',
                             options: {
                                 onChange: function (value) {
                                     if (value == '') {
                                         $dg.datagrid('removeFilterRule', 'ConfirmDateTime');
                                     } else {
                                         $dg.datagrid('addFilterRule', {
                                             field: 'ConfirmDateTime',
                                             op: 'equal',
                                             value: value
                                         });
                                     }
                                     $dg.datagrid('doFilter');
                                 }
                             }
                         },

                    {
                        field: 'CategoryId',
                        type: 'combobox',
                        options: {
                            valueField: 'Id',
                            textField: 'Name',
                            method: 'get',
                            url: '/Products/GetCategories',
                            onChange: function (value) {
                                if (value == '') {
                                    $dg.datagrid('removeFilterRule', 'CategoryId');
                                } else {
                                    $dg.datagrid('addFilterRule', {
                                        field: 'CategoryId',
                                        op: 'equal',
                                        value: value
                                    });
                                }
                                $dg.datagrid('doFilter');
                            }
                        }
                    },

            ]);
        })
        //-----------------------------------------------------
        //datagrid onSelect
        //-----------------------------------------------------
        function onSelect(index, row) {
            //console.log(index, row);
            filterByProductId(row.Id);
        }
        function filterByProductId(productid) {
            var value = productid;


        }


    </script>
}

