﻿@model WebApp.Models.OrderDetail
<!-- 弹出窗体form表单 -->
 <div id="createwindow" hidden="hidden" class="easyui-window" 
      title="新增数据" 
      data-options="modal:true,
                    closed:true,
                    maximized:false,
                    closeDuration:200,
                    closeAnimation:'slide',
                    openDuration:300,
                    openAnimation:'slide',
                    iconCls:'icon-save',
                    footer:'#windowfooter',
                    onOpen:function(){
                       $(this).window('vcenter');
                       $(this).window('hcenter');
                    },
                    onRestore:function(){
                    },
                    onMaximize:function(){
                    }
                    " style="width:1350;height:520px">
    <!-- begin toolbar -->
    <div class="window-body-toolbar">
        <div class="row">
            <div class="col-sm-8">
                 <div class="btn-group btn-group-sm">
                       <button onclick="saveitem()" class="btn btn-default"> 
                          <i class="fa fa-floppy-o"></i> 保存 
                       </button>
                </div>
                <div class="btn-group btn-group-sm">
                       <button onclick="printitem()" class="btn btn-default">
                         <i class="fa fa-print"></i> 打印 
                       </button>
                </div>
            </div>
            <div class="col-sm-4 text-align-right">
                <div class="btn-group btn-group-sm">
                <button type="button" class="btn   btn-success" onclick="closewindow()">
                    <i class="fa fa-chevron-left"></i>
                    关闭
                </button>
              </div>
            </div>
        </div>
    </div>
    <!-- end toolbar -->
    <!-- begin window body -->
    <div class="padding-10">
    <!-- begin form表单界面-->
        <div class="row">
            <div class="col-md-12">
           <form id="orderdetail_createform" class="easyui-form form-horizontal" method="post" data-options="novalidate:true">
  @Html.AntiForgeryToken()
  <input type="hidden" id="@Html.IdFor(model => model.Id)" 
                       name="@Html.NameFor(model => model.Id)" 
                       value="@Html.ValueFor(model => model.Id)" />
  <table class="table table-bordered">
   
	    <tr>
	   <td class="control-label"><span class="required">@Html.DisplayNameFor(model => model.ProductId)</span></td>
	   <td> 
			<input id="@Html.IdFor(model => model.ProductId)"
			       name="@Html.NameFor(model => model.ProductId)"
				   value="@Html.ValueFor(model => model.ProductId)"
                   tabindex="0" required
              	   class="easyui-combobox"       
                   data-options="prompt:'@Html.DisplayNameFor(model => model.ProductId)' ,
						label:'' ,
                        width:200,
						required:true ,
						valueField: 'Id',
						textField:  'Name' ,
						url: '/OrderDetails/GetProductsAsync' ,
						onSelect: function(item){
						//console.log(item);
				}">
	   </td>
	   	   <td class="control-label"><span class="required">@Html.DisplayNameFor(model => model.Qty)</span></td>
	   <td> 
			<input id="@Html.IdFor(model => model.Qty)"
				   name="@Html.NameFor(model => model.Qty)" 
				   value="@Html.ValueFor(model => model.Qty)"
				   tabindex="1" 
				   class="easyui-numberbox" 
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.Qty)',
								 label:'',
                                 width:200,
								 required:true " />
				   </td>
	   	   <td class="control-label"><span class="required">@Html.DisplayNameFor(model => model.Price)</span></td>
	   <td> 
             <input id="@Html.IdFor(model => model.Price)"
				   name="@Html.NameFor(model => model.Price)" 
				   value="@Html.ValueFor(model => model.Price)"
				   tabindex="2" 
				   class="easyui-numberbox" 
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.Price)',
								 label:'',
                                 width:200,
								 required:true  ,precision:2"  />
				   </td>
	   	   <td class="control-label"><span class="required">@Html.DisplayNameFor(model => model.Amount)</span></td>
	   <td> 
             <input id="@Html.IdFor(model => model.Amount)"
				   name="@Html.NameFor(model => model.Amount)" 
				   value="@Html.ValueFor(model => model.Amount)"
				   tabindex="3" 
				   class="easyui-numberbox" 
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.Amount)',
								 label:'',
                                 width:200,
								 required:true  ,precision:2"  />
				   </td>
	   	   </tr>
	   	    <tr>
	   <td class="control-label">@Html.DisplayNameFor(model => model.Remark)</td>
	   <td> 
			<input id="@Html.IdFor(model => model.Remark)" 
				   name="@Html.NameFor(model => model.Remark)" 
				   value="@Html.ValueFor(model => model.Remark)"
				   tabindex="4" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.Remark)',
								 label:'',
                                 width:200,
								 required:false ,validType:'length[0,30]'" />
				   </td>
	   	   <td class="control-label"><span class="required">@Html.DisplayNameFor(model => model.OrderId)</span></td>
	   <td> 
			<input id="@Html.IdFor(model => model.OrderId)"
			       name="@Html.NameFor(model => model.OrderId)"
				   value="@Html.ValueFor(model => model.OrderId)"
                   tabindex="5" required
              	   class="easyui-combobox"       
                   data-options="prompt:'@Html.DisplayNameFor(model => model.OrderId)' ,
						label:'' ,
                        width:200,
						required:true ,
						valueField: 'Id',
						textField:  'OrderNo' ,
						url: '/OrderDetails/GetOrdersAsync' ,
						onSelect: function(item){
						//console.log(item);
				}">
	   </td>
	   	    		<td></td> <td></td>
			<td></td> <td></td>
		     </tr>
	       </table>
     </form>
     </div>
    </div>
<!--end form表单界面-->
<!--========================================================================================-->
     </div>
    <!--end window body -->
</div>
<div id="windowfooter" style="padding:5px;">&nbsp;</div>
<!-- 弹出窗体form表单 -->
<script type="text/javascript">
    //load data by foreign key
    var orderdetailid = 0;
    function loadCreateData(data) {
         $("#createwindow").window("open");
         orderdetailid = 0;
         $('#orderdetail_form').form('load', data);
             }
    var $createform = $('#orderdetail_createform');
    // save item
    function createitem() { 
        if ($createform.form('enableValidation').form('validate')) {
            var orderdetail = $createform.serializeJSON();
                        var token = $('input[name="__RequestVerificationToken"]', $createform).val();
            $.ajax({
                    type: "POST",
                    url: "/OrderDetails/CreateAsync",
                    data: {
                        __RequestVerificationToken: token,
                        orderdetail:orderdetail
                    },
                    dataType: 'json',
                    contentType: 'application/x-www-form-urlencoded; charset=utf-8'
                })
                .done(response => {
                    if (response.success) {
                        $dg.datagrid('reload');
                        $.messager.alert("提示", "保存成功！","info");
                        $('#createwindow').window("close");
                    } else {
                        $.messager.alert("错误",   response.err, "error");
                    }
                    })
                .fail((jqXHR, textStatus, errorThrown) => {
                        $.messager.alert("异常",   errorThrown,"error");
                    });
        }
    }
    // close window
    function closewindow() {
        $('#createwindow').window('close');
    }
    // print form
    function printitem() {
         console.log('print.....');
    }

 
</script>


