﻿



@model WebApp.Models.Category


 @*@Html.HiddenFor(model => model.Id)*@

@Html.NameFor(model => model.Name)
@Html.IdFor(model => model.Name)
<table class="table table-bordered">
    <caption>
    </caption>

    <tr>
        <td class="control-label">
            @Html.DisplayNameFor(model => model.Name)
        </td>
        <td>
            <input id="Name" name="Name" tabindex="1" style="width:100%" class="easyui-textbox" type="text" data-options="prompt:'部门名称',label:'Name:',required:true" />
        </td>

        <td class="control-label">
            @Html.DisplayNameFor(model => model.Name)
        </td>

        <td>
            <input id="Name" name="Name" tabindex="1" style="width:100%" class="easyui-textbox" type="text" data-options="prompt:'部门名称',label:'Name:',required:true" />
          
        </td>
        <td class="control-label">
            @Html.DisplayNameFor(model => model.Name)
        </td>

        <td>
      
            <input id="Name" name="Name" tabindex="1" style="width:100%" class="easyui-textbox" type="text" data-options="prompt:'部门名称',label:'Name:',required:true" />
        </td>
    </tr>

    <tr>
        
    </tr>
    @*<tfoot>
        <tr>
            <td>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        <tr>
    </tfoot>*@
</table>


       

		   

 


  

 

