@model IEnumerable<WebApplication1.BOOKS>

@{
    ViewBag.Title = "Index";
}
<style type='text/css'>
    /*設定 數字靠右*/
    td:nth-child(5n){text-align: right;}
    td:nth-child(6n){text-align: right;}
    td:nth-child(7n){text-align: right;}
</style>
<h2>Index</h2>
<h4>BOOKS</h4>
<p>
    @Html.ActionLink("Create New", "BOOKSCreate")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.BOOKNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AUTHOR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PUBLISH_UTC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VERSION_NUM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VERSION_NUM2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LIST_PRICE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISOK)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "BOOKSEdit", new { id=item.ID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BOOKNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AUTHOR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PUBLISH_UTC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VERSION_NUM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VERSION_NUM2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LIST_PRICE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISOK)
        </td>

    </tr>
}

</table>
