﻿@model WebApp.Models.OrderDetail
 <!-- 输出form表单界面 -->
 <div id="detailswindow" hidden="hidden" class="easyui-window" 
      title="明细数据" 
      data-options="modal:true,
                    closed:true,
                    iconcls:'icon-menu'
                    " style="width:960px;height:520px">
    <form id="orderdetail_form" class="easyui-form form-horizontal" method="post" data-options="novalidate:true">
  @Html.AntiForgeryToken()
 <table class="table table-bordered">
    <thead>
                <tr>
                    <td colspan="4">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" onclick="saveitem()">
                                <i class="fa fa-floppy-o"></i>
                                保存
                            </button>
                            <button type="button" class="btn btn-default">
                                <i class="fa fa-pencil-square-o"></i>
                                操作1
                            </button>
                            <button type="button" class="btn btn-default">
                                <i class="fa fa-pencil-square-o"></i>
                                操作2
                            </button>
                            <button type="button" class="btn btn-default" onclick="cancelitem()">
                                <i class="fa fa-refresh"></i>
                                取消
                            </button>
                            <button type="button" class="btn btn-default" onclick="refreshitem()">
                                <i class="fa fa-refresh"></i>
                                刷新
                            </button>
                        </div>
                    </td>
                </tr>
            </thead>
	    <tr>
      	   <td class="control-label">   @Html.DisplayNameFor(model => model.Id)  </td>
	   <td> 
			   			   			<input id="@Html.IdFor(model => model.Id)" 
                   name="@Html.NameFor(model => model.Id)" 
                   value="@Html.ValueFor(model => model.Id)"
                   tabindex="0"   
                   class="easyui-numberbox" type="text" 
                   data-options="prompt:'Id',
                                 readonly:true,
                                width:200,
                                 label:'',required:true ,precision:0" />
			  				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.OrderId)  </td>
	   <td> 
			   			<input id="@Html.IdFor(model => model.OrderId)"
			       name="@Html.NameFor(model => model.OrderId)"
				   value="@Html.ValueFor(model => model.OrderId)"
				   class="easyui-combobox" data-options="
						prompt:'订单号' ,
						label:'' ,
                       width:200,
						required:true ,
						valueField: 'Id',
						textField: 'Customer' ,
						url: '/OrderDetails/GetOrders' ,
						onSelect: function(item){
						//console.log(item);
				}">
				   </td>
	   	   </tr>
	   	    <tr>
      	   <td class="control-label">   @Html.DisplayNameFor(model => model.ProductId)  </td>
	   <td> 
			   			<input id="@Html.IdFor(model => model.ProductId)"
			       name="@Html.NameFor(model => model.ProductId)"
				   value="@Html.ValueFor(model => model.ProductId)"
				   class="easyui-combobox" data-options="
						prompt:'商品' ,
						label:'' ,
                       width:200,
						required:true ,
						valueField: 'Id',
						textField: 'Name' ,
						url: '/OrderDetails/GetProducts' ,
						onSelect: function(item){
						//console.log(item);
				}">
				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.Qty)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.Qty)"
				   name="@Html.NameFor(model => model.Qty)" 
				   value="@Html.ValueFor(model => model.Qty)"
				   tabindex="3" 
				   class="easyui-numberbox" 
				   type="text" 
				   data-options="prompt:'数量',
								 label:'',
                                width:200,
								 required:true ,precision:0" />
              				   </td>
	   	   </tr>
	   	    <tr>
      	   <td class="control-label">   @Html.DisplayNameFor(model => model.Price)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.Price)"
				   name="@Html.NameFor(model => model.Price)" 
				   value="@Html.ValueFor(model => model.Price)"
				   tabindex="4" 
				   class="easyui-numberbox" 
				   type="text" 
				   data-options="prompt:'单价',
								 label:'',
                                width:200,
								 required:true ,precision:2" />
              				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.Amount)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.Amount)"
				   name="@Html.NameFor(model => model.Amount)" 
				   value="@Html.ValueFor(model => model.Amount)"
				   tabindex="5" 
				   class="easyui-numberbox" 
				   type="text" 
				   data-options="prompt:'金额',
								 label:'',
                                width:200,
								 required:true ,precision:2" />
              				   </td>
	   	   </tr>
	   	    <tr>
      	   <td class="control-label">   @Html.DisplayNameFor(model => model.CreatedDate)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.CreatedDate)" 
			       name="@Html.NameFor(model => model.CreatedDate)" 
				   tabindex="6" 
				   class="easyui-datebox" 
				   type="text" 
				   value="@Html.ValueFor(model => model.CreatedDate)"
				   data-options="prompt:'创建时间',
								 label:'',
                                width:200,
								 required:false,
								 formatter:dateformatter" />
			  				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.CreatedBy)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.CreatedBy)" 
				   name="@Html.NameFor(model => model.CreatedBy)" 
				   value="@Html.ValueFor(model => model.CreatedBy)"
				   tabindex="7" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'创建用户',
								 label:'',
                                width:200,
								 required:false ,validType:'length[0,20]'" />
			  				   </td>
	   	   </tr>
	   	    <tr>
      	   <td class="control-label">   @Html.DisplayNameFor(model => model.LastModifiedDate)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.LastModifiedDate)" 
			       name="@Html.NameFor(model => model.LastModifiedDate)" 
				   tabindex="8" 
				   class="easyui-datebox" 
				   type="text" 
				   value="@Html.ValueFor(model => model.LastModifiedDate)"
				   data-options="prompt:'最后更新时间',
								 label:'',
                                width:200,
								 required:false,
								 formatter:dateformatter" />
			  				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.LastModifiedBy)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.LastModifiedBy)" 
				   name="@Html.NameFor(model => model.LastModifiedBy)" 
				   value="@Html.ValueFor(model => model.LastModifiedBy)"
				   tabindex="9" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'最后更新用户',
								 label:'',
                                width:200,
								 required:false ,validType:'length[0,20]'" />
			  				   </td>
	   	   </tr>
	   	        <tfoot>
        <tr>
        <tr>
    </tfoot>
</table>


<!--输出form表单界面-->
<!--========================================================================================-->
 </form>
</div>


<script type="text/javascript">
    //load data by foreign key
    function loadData(id,data){
         $('#orderdetail_form').form('load', data);
             }
    var $editform = $('#orderdetail_form');
    //save item
    function saveitem() {
         
        if ($editform.form('enableValidation').form('validate')) {
            var orderdetail = $editform.serializeJSON();
            var token = $('input[name="__RequestVerificationToken"]', $editform).val();

            $.ajax({
                    type: "POST",
                    url: "/OrderDetails/Edit",
                    data: {
                        __RequestVerificationToken: token,
                        orderdetail:orderdetail
                    },
                    dataType: 'json',
                    contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                })
                .done(function (response) {
                    if (response.success) {
                        $.messager.alert("提示", "保存成功！");
                    } else {
                        $.messager.alert("错误", "保存失败！" + response.err, "error");
                    }
                    })
                .fail(function (response) {
                        $.messager.alert("错误", "保存失败！", "error");
                    });
        }
    }
    // cancel
    function cancelitem() {
        $('#detailswindow').window('close');
    }
    // reload
    function refreshitem() {
        $('#detailswindow').window('close');
    }
    


    

</script>


