﻿@model WebApp.Models.OrderDetail
 <!-- 输出form表单界面 -->
<fieldset>
    <div class="row">
        	    			<section class="col col-6">
           <label class="label">@Html.DisplayNameFor(model => model.Id) </label>
           <label class="input">
            <input id="@Html.IdFor(model => model.Id)" 
                   name="@Html.NameFor(model => model.Id)" 
                   placeholder="@Html.DisplayNameFor(model => model.Id)" 
                   value="@Html.ValueFor(model => model.Id)"
                   tabindex="0"   
                   type="text" 
                   />
                 <b class="tooltip tooltip-bottom-right">Id</b>
			    </label>
            </section>
              				 
	  
	    
	                     <section class="col col-6">
            <label class="label">@Html.DisplayNameFor(model => model.OrderId) </label>
            <label class="input">
			      @Html.DropDownListFor(model => model.OrderId, ViewBag.OrderId as List<SelectListItem>, htmlAttributes: new { @class = "select2" }) 
                 <b class="tooltip tooltip-bottom-right">订单号</b>
			    </label>
            </section>
				 
	  
	    
	                     <section class="col col-6">
            <label class="label">@Html.DisplayNameFor(model => model.ProductId) </label>
            <label class="input">
			      @Html.DropDownListFor(model => model.ProductId, ViewBag.ProductId as List<SelectListItem>, htmlAttributes: new { @class = "select2" }) 
                 <b class="tooltip tooltip-bottom-right">商品</b>
			    </label>
            </section>
				 
	  
	    
	        			  			<section class="col col-6">
            <label class="label">@Html.DisplayNameFor(model => model.Qty) </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.Qty)"
				   name="@Html.NameFor(model => model.Qty)" 
                   placeholder="@Html.DisplayNameFor(model => model.Qty)" 
				   value="@Html.ValueFor(model => model.Qty)"
				   tabindex="3" 
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">数量</b>
			    </label>
            </section>
              				 
	  
	    
	        			  			<section class="col col-6">
            <label class="label">@Html.DisplayNameFor(model => model.Price) </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.Price)"
				   name="@Html.NameFor(model => model.Price)" 
                   placeholder="@Html.DisplayNameFor(model => model.Price)" 
				   value="@Html.ValueFor(model => model.Price)"
				   tabindex="4" 
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">单价</b>
			    </label>
            </section>
              				 
	  
	    
	        			  			<section class="col col-6">
            <label class="label">@Html.DisplayNameFor(model => model.Amount) </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.Amount)"
				   name="@Html.NameFor(model => model.Amount)" 
                   placeholder="@Html.DisplayNameFor(model => model.Amount)" 
				   value="@Html.ValueFor(model => model.Amount)"
				   tabindex="5" 
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">金额</b>
			    </label>
            </section>
              				 
	  
	    
	        			              <section class="col col-6">
            <label class="label">@Html.DisplayNameFor(model => model.CreatedDate) </label>
            <label class="input">
            <i class="icon-append fa fa-calendar"></i>
			<input id="@Html.IdFor(model => model.CreatedDate)" 
			       name="@Html.NameFor(model => model.CreatedDate)" 
                   placeholder="@Html.DisplayNameFor(model => model.CreatedDate)" 
				   tabindex="6" 
				   class="datepicker" data-dateformat="dd/mm/yy"
				   type="text" 
				   value="@Html.ValueFor(model => model.CreatedDate)"
				    />
             <b class="tooltip tooltip-bottom-right">创建时间</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-6">
            <label class="label">@Html.DisplayNameFor(model => model.CreatedBy) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.CreatedBy)" 
				   name="@Html.NameFor(model => model.CreatedBy)" 
                   placeholder="@Html.DisplayNameFor(model => model.CreatedBy)" 
				   value="@Html.ValueFor(model => model.CreatedBy)"
				   tabindex="7" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">创建用户</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-6">
            <label class="label">@Html.DisplayNameFor(model => model.LastModifiedDate) </label>
            <label class="input">
            <i class="icon-append fa fa-calendar"></i>
			<input id="@Html.IdFor(model => model.LastModifiedDate)" 
			       name="@Html.NameFor(model => model.LastModifiedDate)" 
                   placeholder="@Html.DisplayNameFor(model => model.LastModifiedDate)" 
				   tabindex="8" 
				   class="datepicker" data-dateformat="dd/mm/yy"
				   type="text" 
				   value="@Html.ValueFor(model => model.LastModifiedDate)"
				    />
             <b class="tooltip tooltip-bottom-right">最后更新时间</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-6">
            <label class="label">@Html.DisplayNameFor(model => model.LastModifiedBy) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.LastModifiedBy)" 
				   name="@Html.NameFor(model => model.LastModifiedBy)" 
                   placeholder="@Html.DisplayNameFor(model => model.LastModifiedBy)" 
				   value="@Html.ValueFor(model => model.LastModifiedBy)"
				   tabindex="9" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">最后更新用户</b>
			    </label>
            </section>
			  				 
	  
	    
	    </div>
</fieldset>

<!--========================================================================================-->
 


 <script type="text/javascript">
   var id=@Model.Id;
   

      
  

 </script>

