﻿



@model WebApp.Models.OrderDetail


 @*@Html.HiddenFor(model => model.Id)*@




		<div class="form-group">
            @Html.LabelFor(model => model.ProductId,   htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
			    @Html.DropDownListFor(model => model.ProductId, ViewBag.ProductId as List<SelectListItem>,"---Select---", htmlAttributes: new { @class = "form-control" }) 
                @Html.ValidationMessageFor(model => model.ProductId,"" , new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Qty,   htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                                @Html.EditorFor(model => model.Qty, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Qty,"" , new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Price,   htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Price,"" , new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Amount,   htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Amount,"" , new { @class = "text-danger" })
            </div>
        </div>


		<div class="form-group">
            @Html.LabelFor(model => model.OrderId,   htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
			    @Html.DropDownListFor(model => model.OrderId, ViewBag.OrderId as List<SelectListItem>,"---Select---", htmlAttributes: new { @class = "form-control" }) 
                @Html.ValidationMessageFor(model => model.OrderId,"" , new { @class = "text-danger" })
            </div>
        </div>

		   

 


  

 

