    <!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">

    <!-- User info -->
    @{ Html.RenderPartial("_CurrentUser"); }
    <!-- end user info -->
    <!-- NAVIGATION : This navigation is also responsive

    To make this navigation dynamic please make sure to link the node
    (the reference to the nav > ul) after page load. Or the navigation
    will not initialize.
    -->
    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul>
            <li class="@Html.RouteIf("index", "active")">
                <a href="#" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
                <ul>
                    <li class="@Html.RouteIf("index", "active")">
                        <a href="@Url.Action("index", "home")" title="Dashboard"><span class="menu-item-parent">Analytics Dashboard</span></a>
                    </li>
                    <li class="@Html.RouteIf("social", "active")">
                        <a href="@Url.Action("social", "home")" title="Dashboard"><span class="menu-item-parent">Social Wall</span></a>
                    </li>
                </ul>
            </li>
            <li class="top-menu-invisible @Html.RouteIf(" intel", "active" )">
                <a href="#"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span class="menu-item-parent">SmartAdmin Intel</span></a>
                <ul>
                    <li class="@Html.RouteIf("applayout", "active")">
                        <a href="@Url.Action("applayout", "intel")" title="Dashboard"><i class="fa fa-lg fa-fw fa-gear"></i> <span class="menu-item-parent">App Layouts</span></a>
                    </li>
                    <li class="@Html.RouteIf("skins", "active")">
                        <a href="@Url.Action("skins", "intel")" title="Dashboard"><i class="fa fa-lg fa-fw fa-picture-o"></i> <span class="menu-item-parent">Prebuilt Skins</span></a>
                    </li>
                    <li class="@Html.RouteIf("settings", "active")">
                        <a href="@Url.Action("settings", "intel")" title="Dashboard"><i class="fa fa-cube"></i> <span class="menu-item-parent">App Settings</span></a>
                    </li>
                </ul>
            </li>
            <li class="@Html.RouteIf("inbox", "active")">
                <a href="@Url.Action("inbox", "home")"><i class="fa fa-lg fa-fw fa-inbox"></i> <span class="menu-item-parent">Outlook</span><span class="badge pull-right inbox-badge margin-right-13">14</span></a>
            </li>
            <li class="@Html.RouteIf("graphs", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-bar-chart-o"></i> <span class="menu-item-parent">Graphs</span></a>
                <ul>
                    <li class="@Html.RouteIf("flot", "active")">
                        <a href="@Url.Action("flot", "graphs")">Flot Charts</a>
                    </li>
                    <li class="@Html.RouteIf("morris", "active")">
                        <a href="@Url.Action("morris", "graphs")">Morris Charts</a>
                    </li>
                    <li class="@Html.RouteIf("inline", "active")">
                        <a href="@Url.Action("inline", "graphs")">Inline Charts</a>
                    </li>
                    <li class="@Html.RouteIf("dygraphs", "active")">
                        <a href="@Url.Action("dygraphs", "graphs")">Dygraphs</a>
                    </li>
                    <li class="@Html.RouteIf("chartjs", "active")">
                        <a href="@Url.Action("chartjs", "graphs")">Chart.js</a>
                    </li>
                    <li class="@Html.RouteIf("highcharts", "active")">
                        <a href="@Url.Action("highcharts", "graphs")">HighchartTable <span class="badge pull-right inbox-badge bg-color-yellow">new</span></a>
                    </li>
                </ul>
            </li>
            <li class="@Html.RouteIf("tables", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-table"></i> <span class="menu-item-parent">Tables</span></a>
                <ul>
                    <li class="@Html.RouteIf("normal", "active")">
                        <a href="@Url.Action("normal", "tables")">Normal Tables</a>
                    </li>
                    <li class="@Html.RouteIf("datatables", "active")">
                        <a href="@Url.Action("datatables", "tables")">Data Tables <span class="badge inbox-badge bg-color-greenLight hidden-mobile">responsive</span></a>
                    </li>
                    <li class="@Html.RouteIf("jqgrid", "active")">
                        <a href="@Url.Action("jqgrid", "tables")">Jquery Grid</a>
                    </li>
                </ul>
            </li>
            <li class="@Html.RouteIf("forms", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-pencil-square-o"></i> <span class="menu-item-parent">Forms</span></a>
                <ul>
                    <li class="@Html.RouteIf("smartelements", "active")">
                        <a href="@Url.Action("smartelements", "forms")">Smart Form Elements</a>
                    </li>
                    <li class="@Html.RouteIf("templates", "active")">
                        <a href="@Url.Action("templates", "forms")">Smart Form Layouts</a>
                    </li>
                    <li class="@Html.RouteIf("validation", "active")">
                        <a href="@Url.Action("validation", "forms")">Smart Form Validation</a>
                    </li>
                    <li class="@Html.RouteIf("bootstrap", "active")">
                        <a href="@Url.Action("bootstrap", "forms")">Bootstrap Form Elements</a>
                    </li>
                    <li class="@Html.RouteIf("plugins", "active")">
                        <a href="@Url.Action("plugins", "forms")">Form Plugins</a>
                    </li>
                    <li class="@Html.RouteIf("wizards", "active")">
                        <a href="@Url.Action("wizards", "forms")">Wizards</a>
                    </li>
                    <li class="@Html.RouteIf("editors", "active")">
                        <a href="@Url.Action("editors", "forms")">Bootstrap Editors</a>
                    </li>
                    <li class="@Html.RouteIf("dropzone", "active")">
                        <a href="@Url.Action("dropzone", "forms")">Dropzone </a>
                    </li>
                    <li class="@Html.RouteIf("cropping", "active")">
                        <a href="@Url.Action("cropping", "forms")">Image Cropping <span class="badge pull-right inbox-badge bg-color-yellow">new</span></a>
                    </li>
                </ul>
            </li>
            <li class="@Html.RouteIf("element", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-desktop"></i> <span class="menu-item-parent">UI Elements</span></a>
                <ul>
                    <li class="@Html.RouteIf("general", "active")">
                        <a href="@Url.Action("general", "element")">General Elements</a>
                    </li>
                    <li class="@Html.RouteIf("buttons", "active")">
                        <a href="@Url.Action("buttons", "element")">Buttons</a>
                    </li>
                    <li class="@Html.RouteIf("icons", "active")">
                        <a href="#">Icons</a>
                        <ul>
                            <li class="@Html.RouteIf("fontawesome", "active")">
                                <a href="@Url.Action("fontawesome", "icons")"><i class="fa fa-plane"></i> Font Awesome</a>
                            </li>
                            <li class="@Html.RouteIf("glyphicons", "active")">
                                <a href="@Url.Action("glyphicons", "icons")"><i class="glyphicon glyphicon-plane"></i> Glyph Icons</a>
                            </li>
                            <li class="@Html.RouteIf("flags", "active")">
                                <a href="@Url.Action("flags", "icons")"><i class="fa fa-flag"></i> Flags</a>
                            </li>
                        </ul>
                    </li>
                    <li class="@Html.RouteIf("grid", "active")">
                        <a href="@Url.Action("grid", "icons")">Grid</a>
                    </li>
                    <li class="@Html.RouteIf("treeview", "active")">
                        <a href="@Url.Action("treeview", "icons")">Tree View</a>
                    </li>
                    <li class="@Html.RouteIf("nestedlists", "active")">
                        <a href="@Url.Action("nestedlists", "icons")">Nestable Lists</a>
                    </li>
                    <li class="@Html.RouteIf("jqueryui", "active")">
                        <a href="@Url.Action("jqueryui", "icons")">JQuery UI</a>
                    </li>
                    <li class="@Html.RouteIf("typography", "active")">
                        <a href="@Url.Action("typography", "icons")">Typography</a>
                    </li>
                    <li>
                        <a href="#">Six Level Menu</a>
                        <ul>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-folder-open"></i> Item #2</a>
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa fa-fw fa-folder-open"></i> Sub #2.1 </a>
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa fa-fw fa-file-text"></i> Item #2.1.1</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-fw fa-plus"></i> Expand</a>
                                                <ul>
                                                    <li>
                                                        <a href="#"><i class="fa fa-fw fa-file-text"></i> File</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-fw fa-trash-o"></i> Delete</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-folder-open"></i> Item #3</a>
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa fa-fw fa-folder-open"></i> 3ed Level </a>
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa fa-fw fa-file-text"></i> File</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-fw fa-file-text"></i> File</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="@Html.RouteIf("widgets", "active")">
                <a href="@Url.Action("widgets", "home")"><i class="fa fa-lg fa-fw fa-list-alt"></i> <span class="menu-item-parent">Widgets</span></a>
            </li>
            <li class="@Html.RouteIf("features", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-cloud"><em>3</em></i> <span class="menu-item-parent">Cool Features!</span></a>
                <ul>
                    <li class="@Html.RouteIf("calendar", "active")">
                        <a href="@Url.Action("calendar", "features")"><i class="fa fa-lg fa-fw fa-calendar"></i> <span class="menu-item-parent">Calendar</span></a>
                    </li>
                    <li class="@Html.RouteIf("googlemap", "active")">
                        <a href="@Url.Action("googlemap", "features")"><i class="fa fa-lg fa-fw fa-map-marker"></i> <span class="menu-item-parent">GMap Skins</span><span class="badge bg-color-greenLight pull-right inbox-badge">9</span></a>
                    </li>
                </ul>
            </li>	
            <li class="@Html.RouteIf("appviews", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-puzzle-piece"></i> <span class="menu-item-parent">App Views</span></a>
                <ul>
                    <li class="@Html.RouteIf("projects", "active")">
                        <a href="@Url.Action("projects", "appviews")"><i class="fa fa-file-text-o"></i> Projects</a>
                    </li>
                    <li class="@Html.RouteIf("blog", "active")">
                        <a href="@Url.Action("blog", "appviews")"><i class="fa fa-paragraph"></i> Blog</a>
                    </li>
                    <li class="@Html.RouteIf("gallery", "active")">
                        <a href="@Url.Action("gallery", "appviews")"><i class="fa fa-picture-o"></i> Gallery</a>
                    </li>
                    <li class="@Html.RouteIf("forum", "active")">
                        <a href="#"><i class="fa fa-comments"></i> Forum Layout</a>
                        <ul>
                            <li class="@Html.RouteIf("generalview", "active")">
                                <a href="@Url.Action("generalview", "forum")">General View</a>
                            </li>
                            <li class="@Html.RouteIf("topicview", "active")">
                                <a href="@Url.Action("topicview", "forum")">Topic View</a>
                            </li>
                            <li class="@Html.RouteIf("postview", "active")">
                                <a href="@Url.Action("postview", "forum")">Post View</a>
                            </li>
                        </ul>
                    </li>
                    <li class="@Html.RouteIf("profile", "active")">
                        <a href="@Url.Action("profile", "appviews")"><i class="fa fa-group"></i> Profile</a>
                    </li>
                    <li class="@Html.RouteIf("timeline", "active")">
                        <a href="@Url.Action("timeline", "appviews")"><i class="fa fa-clock-o"></i> Timeline</a>
                    </li>
                </ul>
            </li>
            <li class="@Html.RouteIf("commerce", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-shopping-cart"></i> <span class="menu-item-parent">E-Commerce</span></a>
                <ul>
                    <li class="@Html.RouteIf("orders", "active")">
                        <a href="@Url.Action("orders", "commerce")">Orders</a>
                    </li>
                    <li class="@Html.RouteIf("productview", "active")">
                        <a href="@Url.Action("productview", "commerce")">Products View</a>
                    </li>
                    <li class="@Html.RouteIf("detail", "active")">
                        <a href="@Url.Action("detail", "commerce")">Products Detail</a>
                    </li>
                </ul>
            </li>	
            <li class="@Html.RouteIf("misc", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-windows"></i> <span class="menu-item-parent">Miscellaneous</span></a>
                <ul>
                    <li>
                        <a href="@Url.Action("index", "landing", new { area = "Landing" })" target="_blank">Landing Page <i class="fa fa-external-link"></i></a>
                    </li>
                    <li class="@Html.RouteIf("pricing", "active")">
                        <a href="@Url.Action("pricing", "misc")">Pricing Tables</a>
                    </li>
                    <li class="@Html.RouteIf("invoice", "active")">
                        <a href="@Url.Action("invoice", "misc")">Invoice</a>
                    </li>
                    <li>
                        <a href="@Url.Action("login", "account")" target="_top">Login</a>
                    </li>
                    <li>
                        <a href="@Url.Action("register", "account")" target="_top">Register</a>
                    </li>
                    <li>
                        <a href="@Url.Action("lock", "account")" target="_top">Locked Screen</a>
                    </li>
                    <li class="@Html.RouteIf("error404", "active")">
                        <a href="@Url.Action("error404", "misc")">Error 404</a>
                    </li>
                    <li class="@Html.RouteIf("error500", "active")">
                        <a href="@Url.Action("error500", "misc")">Error 500</a>
                    </li>
                    <li class="@Html.RouteIf("blank", "active")">
                        <a href="@Url.Action("blank", "misc")">Blank Page</a>
                    </li>
                    <li class="@Html.RouteIf("emailtemplate", "active")">
                        <a href="@Url.Action("emailtemplate", "misc")">Email Template</a>
                    </li>
                    <li class="@Html.RouteIf("search", "active")">
                        <a href="@Url.Action("search", "misc")">Search Page</a>
                    </li>
                    <li class="@Html.RouteIf("ckeditor", "active")">
                        <a href="@Url.Action("ckeditor", "misc")">CK Editor</a>
                    </li>
                </ul>
            </li>
            <li class="chat-users top-menu-invisible">
                <a href="#"><i class="fa fa-lg fa-fw fa-comment-o"><em class="bg-color-pink flash animated">!</em></i> <span class="menu-item-parent">Smart Chat API <sup>beta</sup></span></a>
                <ul>
                    <li class="@Html.RouteIf("chat", "active")">
                        <div class="display-users">
                            <input class="form-control chat-user-filter" placeholder="Filter" type="text">
                            <dl>
                                <dt>
                                    <a href="#" class="usr"
                                       data-chat-id="cha1"
                                       data-chat-fname="Sadi"
                                       data-chat-lname="Orlaf"
                                       data-chat-status="busy"
                                       data-chat-alertmsg="Sadi Orlaf is in a meeting. Please do not disturb!"
                                       data-chat-alertshow="true"
                                       rel="popover-hover"
                                       data-placement="right"
                                       data-html="true"
                                       data-content="
												<div class='usr-card'>
													<img src='/content/img/avatars/5.png' alt='Sadi Orlaf'>
													<div class='usr-card-content'>
														<h3>Sadi Orlaf</h3>
														<p>Marketing Executive</p>
													</div>
												</div>
											">
										  	<i></i>Sadi Orlaf
									</a>
                                </dt>
                                <dt>
                                    <a href="#" class="usr"
                                       data-chat-id="cha2"
                                       data-chat-fname="Jessica"
                                       data-chat-lname="Dolof"
                                       data-chat-status="online"
                                       data-chat-alertmsg=""
                                       data-chat-alertshow="false"
                                       rel="popover-hover"
                                       data-placement="right"
                                       data-html="true"
                                       data-content="
												<div class='usr-card'>
                                                    <img src='/content/img/avatars/1.png' alt='Jessica Dolof'>
													<div class='usr-card-content'>
														<h3>Jessica Dolof</h3>
														<p>Sales Administrator</p>
													</div>
												</div>
											">
										  	<i></i>Jessica Dolof
                                    </a>
                                </dt>
                                <dt>
                                    <a href="#" class="usr"
                                       data-chat-id="cha3"
                                       data-chat-fname="Zekarburg"
                                       data-chat-lname="Almandalie"
                                       data-chat-status="online"
                                       rel="popover-hover"
                                       data-placement="right"
                                       data-html="true"
                                       data-content="
												<div class='usr-card'>
                                                    <img src='/content/img/avatars/3.png' alt='Zekarburg Almandalie'>
													<div class='usr-card-content'>
														<h3>Zekarburg Almandalie</h3>
														<p>Sales Admin</p>
													</div>
												</div>
											">
										  	<i></i>Zekarburg Almandalie
									</a>
                                </dt>
                                <dt>
                                    <a href="#" class="usr"
                                       data-chat-id="cha4"
                                       data-chat-fname="Barley"
                                       data-chat-lname="Krazurkth"
                                       data-chat-status="away"
                                       rel="popover-hover"
                                       data-placement="right"
                                       data-html="true"
                                       data-content="
												<div class='usr-card'>
                                                    <img src='/content/img/avatars/4.png' alt='Barley Krazurkth'>
													<div class='usr-card-content'>
														<h3>Barley Krazurkth</h3>
														<p>Sales Director</p>
													</div>
												</div>
											">
										  	<i></i>Barley Krazurkth
									</a>
                                </dt>
                                <dt>
                                    <a href="#" class="usr offline"
                                       data-chat-id="cha5"
                                       data-chat-fname="Carmen"
                                       data-chat-lname="Electra"
                                       data-chat-status="incognito"
                                       rel="popover-hover"
                                       data-placement="right"
                                       data-html="true"
                                       data-content="
												<div class='usr-card'>
                                                    <img src='/content/img/avatars/female.png' alt='Carmen Electra'>
													<div class='usr-card-content'>
														<h3>Carmen Electra</h3>
														<p>Support Admin <small><i class='fa fa-music'></i> Playing Beethoven Classics</small></p>
													</div>
												</div>
											">
										  	<i></i>Carmen Electra (offline)
									</a>
                                </dt>
                                <dt>
                                    <a href="#" class="usr offline"
                                       data-chat-id="cha6"
                                       data-chat-fname="Lezley"
                                       data-chat-lname="Jacob"
                                       data-chat-status="incognito"
                                       rel="popover-hover"
                                       data-placement="right"
                                       data-html="true"
                                       data-content="
												<div class='usr-card'>
                                                    <img src='/content/img/avatars/male.png' alt='Lezley Jacob'>
													<div class='usr-card-content'>
														<h3>Lezley Jacob</h3>
														<p>Sales Director</p>
													</div>
												</div>
											">
										  	<i></i>Lezley Jacob (offline)
									</a>
                                </dt>
                            </dl>


                            <a href="@Url.Action("chat", "home")" class="btn btn-xs btn-default btn-block sa-chat-learnmore-btn">About the API</a>
                        </div>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>
    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>

</aside>
<!-- END NAVIGATION -->